{% extends 'document.tpl.twig' %}

{% block document_head_asset %}
<script>
const shift = {
    version     : "{{ app.config.get('root.version') }}",
    version_id  : {{ app.config.getInt('root.version_id') }},
    env         : {{ app.config.get('env')|json_encode() }},
    i18n        : {{ app.language.all()|json_encode() }},
    formChanged : false,
};
</script>
{% endblock %}

{% block document_head_omega %}
<script>(function($) { $.fn.shift = {}; })(jQuery);</script>
<script src="{{ app.config.get('env.url_app') }}asset/script/shift.js"></script>
{% endblock %}

{% block document_body %}
{% if header %}
    <header class="page-header">
        {{ header }}

        <section class="section-breadcrumb">
            <div class="uk-container uk-container-expand">
                <ul class="uk-breadcrumb">
                    <li><a href="{{ app.router.url('page/dashboard') }}">{{ app.language.get('dashboard') }}</a></li>
                    {% for breadcrumb in app.document.getNode('breadcrumbs') %}
                        {% if breadcrumb.1 is defined %}
                            <li><a href="{{ breadcrumb.1 }}" {{ breadcrumb.2 is defined ? 'title="' ~ breadcrumb.2 ~ '"' : '' }}>{{ breadcrumb.0 }}</a></li>
                        {% else %}
                            <li class="uk-disabled"><span>{{ breadcrumb.0 }}</span></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </section>
    </header>
{% endif %}

<div class="page-body">
    <div class="section-middle uk-grid-collapse" uk-grid>
        {% if layouts.sidebarleft is defined and layouts.sidebarleft %}
            <section class="block-sidebar block-sidebar-left">
                {{ layouts.sidebarleft }}
            </section>
        {% endif %}

        <div class="region-content uk-width-expand">
            <main class="main-content">
                {% block main_content %}No content available!{% endblock %}
            </main>

            {% if footer %}
                <footer class="page-footer">
                    {{ footer }}
                </footer>
            {% endif %}

        </div>

        {% if layouts.sidebarright is defined and layouts.sidebarright %}
            <section class="block-sidebar block-sidebar-right">
                {{ layouts.sidebarright }}
            </section>
        {% endif %}
    </div>{# .section-middle #}
</div>
{% endblock %}
