{% extends 'document.tpl.twig' %}

{% block document_head_asset_script %}<script>
    const shift = {
        version     : "{{ shift.lib.config.get('root.version') }}",
        version_id  : {{ shift.lib.config.getInt('root.version_id') }},
        env         : {{ shift.lib.config.get('env')|json_encode() }},
        i18n        : {{ shift.lib.language.all()|json_encode() }},
        formChanged : false,
    };
    </script>
    <script>(function($) { $.fn.shift = {}; })(jQuery);</script>
{% endblock %}

{% block document_head_omega %}<script src="{{ shift.lib.config.get('env.url_app') }}asset/script/shift.js"></script>{% endblock %}

{% block document_body %}
{% if header %}
    <header class="page-header">
        {{ header }}

        {% set breadcrumbs = shift.lib.document.getNode('breadcrumbs') %}
        {% if breadcrumbs %}
            <section class="section-breadcrumb">
                <div class="uk-container">
                    <ul class="uk-breadcrumb">
                        <li><a href="{{ shift.lib.router.url('page/dashboard') }}">{{ shift.lib.language.get('dashboard') }}</a></li>
                        {% for breadcrumb in breadcrumbs %}
                            {% if breadcrumb.1 is defined %}
                                <li><a href="{{ breadcrumb.1 }}" {{ breadcrumb.2 is defined ? 'title="' ~ breadcrumb.2 ~ '"' : '' }}>{{ breadcrumb.0 }}</a></li>
                            {% else %}
                                <li class="uk-disabled"><span>{{ breadcrumb.0 }}</span></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </section>
        {% endif %}
    </header>
{% endif %}

<div class="page-body">
    <div class="section-middle uk-grid-collapse" uk-grid>
        {% if layouts.sidebarleft is defined and layouts.sidebarleft %}
            <section class="block-sidebar block-sidebar-left">
                {{ layouts.sidebarleft }}
            </section>
        {% endif %}

        <div class="region-content uk-width-expand">
            <main class="main-content">
                <!-- TODO: change to block content -->
                {% block main_content %}No content available!{% endblock %}
            </main>

            {% if footer %}
                <footer class="page-footer">
                    {{ footer }}
                </footer>
            {% endif %}

        </div>

        {% if layouts.sidebarright is defined and layouts.sidebarright %}
            <section class="block-sidebar block-sidebar-right">
                {{ layouts.sidebarright }}
            </section>
        {% endif %}
    </div>{# .section-middle #}
</div>
{% endblock %}
