{% extends 'main.tpl.twig' %}

{% import '_embed/macro/forms.tpl.twig' as forms %}

{% block main_content %}
<div class="uk-container uk-container-small container-content-wrapper">
    <div class="content-header">
        <div class="uk-flex uk-flex-middle sticky-active-background" uk-sticky="offset:32; show-on-up:true; animation:uk-animation-slide-top;">
            <div class="uk-width-expand">
                <h1 class="ukt-m-0">{{ shift.lib.language.get('page_title') }}</h1>
            </div>
            <div class="uk-width-auto">
                <button class="uk-button uk-button-success" data-form-submit='{"form":"#form-setting"}'>{{ shift.lib.language.get('save') }}</button>
            </div>
        </div>
    </div>

    <div class="content-body uk-card-panel uk-card-body">
        <form id="form-setting" class="uk-form-horizontal uk-form-margin-hover" action="{{ shift.lib.router.url('setting/setting/save') }}" method="post" data-form-monitor>
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">{{ shift.lib.language.get('general') }}</legend>

                {{ forms.input({'type':'number', 'label':'compression', 'name':'compression', 'value':setting.compression, 'class':'uk-width-75@m', 'attribute':'min="0" max="10"'}) }}
            </fieldset>

            <fieldset class="uk-fieldset">
                <legend class="uk-legend">{{ shift.lib.language.get('options') }}</legend>

                {{ forms.select({'label':'admin_language', 'name':'admin_language', 'options':languages, 'opt_text': 'name', 'opt_value': 'codename', 'selected':setting.admin_language}) }}
            </fieldset>

            <fieldset class="uk-fieldset">
                <legend class="uk-legend">{{ shift.lib.language.get('mail') }}</legend>

                {{ forms.select({'label':'mail_engine', 'name':'mail_engine', 'options':[{'text':'SMTP', 'value':'smtp'}, {'text':'PHP Mail', 'value':'mail'}, {'text':'Sendmail', 'value':'sendmail'}], 'selected':setting.mail_engine}) }}
                {{ forms.input({'type':'text', 'label':'mail_smtp_hostname', 'name':'mail_smtp_hostname', 'value':setting.mail_smtp_hostname, 'class':'uk-width-250@m'}) }}
                {{ forms.input({'type':'text', 'label':'mail_smtp_username', 'name':'mail_smtp_username', 'value':setting.mail_smtp_username, 'class':'uk-width-250@m'}) }}
                {{ forms.input({'type':'text', 'label':'mail_smtp_password', 'name':'mail_smtp_password', 'value':setting.mail_smtp_password, 'class':'uk-width-250@m'}) }}
                {{ forms.input({'type':'number', 'label':'mail_smtp_port', 'name':'mail_smtp_port', 'value':setting.mail_smtp_port, 'class':'uk-width-100@m'}) }}
                {{ forms.input({'type':'number', 'label':'mail_smtp_timeout', 'name':'mail_smtp_timeout', 'value':setting.mail_smtp_timeout, 'class':'uk-width-100@m'}) }}
            </fieldset>

            <fieldset class="uk-fieldset">
                <legend class="uk-legend">{{ shift.lib.language.get('maintenance') }}</legend>

                {{ forms.radioButton({'label':'error_display', 'name':'error_display', 'checked':setting.error_display}) }}
                {{ forms.radioButton({'label':'development', 'name':'development', 'checked':setting.development, 'info':shift.lib.language.get('development_info')}) }}
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
