{% extends 'main.tpl.twig' %}

{% block main_content %}
<div class="uk-container container-content-wrapper">
    <div class="content-header">
        <div class="uk-child-width-expand" uk-grid>
            <div class="uk-width-auto@s"><h1>{{ app.language.get('page_title') }}</h1></div>
            <div class="uk-flex uk-flex-middle uk-flex-right">
                <a href="{{ app.router.url('setting/site/form') }}" class="uk-button uk-button-primary">{{ app.language.get('add_new') }}</a>
            </div>
        </div>
    </div>

    <div class="content-body uk-card-panel uk-card-body">
        <table id="settingSite-list" class="uk-table uk-table-striped uk-table-hover">
            <thead>
                <tr>
                    <th class="ukt-px-0 noVisualColumn" style="width:30px;">
                        <a class="uk-link-reset uk-text-center uk-display-block uk-width-1-1"><i class="bi bi-three-dots-vertical"></i></a>
                        <div class="uk-dropdown-mini" uk-dropdown="offset:5;pos:bottom-left;">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a data-dtAction='{"type":"delete"}'>{{ app.language.get('delete') }}</a></li>
                            </ul>
                        </div>
                    </th>
                    <th style="width:60px;">{{ app.language.get('id') }}</th>
                    <th style="width:300px">{{ app.language.get('name') }}</th>
                    <th style="min-width:300px">{{ app.language.get('site_url') }}</th>
                    <th style="width:80px;">{{ app.language.get('action') }}</th>
                </tr>
                <tr data-dtColumnFilter>
                    <td class="ukt-pt-1">
                        <input type="checkbox" class="uk-checkbox uk-margin-remove" onclick="$(this).closest('.uk-table').find('tbody td:first-child :checkbox').prop('checked', $(this).prop('checked'));">
                    </td>
                    <td data-filter='{"type":"number"}'>
                        <input type="text" value="" data-index="1" class="uk-input">
                    </td>
                    <td data-filter='{"type":"string"}'>
                        <input type="text" value="" data-index="2" class="uk-input">
                    </td>
                    <td data-filter='{"type":"string"}'>
                        <input type="text" value="" data-index="3" class="uk-input">
                    </td>
                    <td class="uk-text-center">
                        <a class="uk-button uk-text-warning" data-dtClearSearch uk-tooltip title="{{ app.language.get('search_clear') }}"><i class="bi bi-x-square-fill"></i></a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5" class="dataTables_empty"><i>{{ app.language.get('loading') }}</i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function() {
let tableEl     = '#settingSite-list',
    columnsHide = [],
    dtTable     = $(tableEl).DataTable({
        ajax : $.fn.dataTable.pipeline({
            url  : "{{ app.router.url('setting/site/list')|raw }}",
            data : function(d, s) {
                d = dtShiftColumnFilter(d);
                d.timezone = getLocalTimezone();
            }
        }),
        initComplete: function() {
            dtShiftUtility(dtTable, columnsHide);
        },
        sorting : [[1, 'asc']], // site_id
        columnDefs : [
            { searchable: false, targets : [0, -1] },
            { orderable : false, targets : [0, -1] },
            { createdCell : function(nTd) {
                $(nTd).addClass('uk-text-center'); },
                targets : [0, -1]
            },
        ],
        columns : [
            { data : 'site_id',
                render : function(data, type, full) {
                    let output  = '';

                    if (data != '0') {
                        output = '<input type="checkbox" class="uk-checkbox checkbox-toggle" name="dtaction[]" value="' + data + '" />';
                    }

                    return output;
                }
            },
            { data : 'site_id' },
            { data : 'name'},
            { data : 'url_host' },
            { data : 'site_id',
                className : 'ukt-p-2',
                render : function(data, type, full) {
                    let output  = '';

                    output  = '<a href="' + full.url_edit + '" uk-tooltip title="' + shift.i18n.edit + '"><i class="bi bi-pencil"></i></a>';
                    if (data != '0') {
                        output += '<div class="uk-inline ukt-ml-2">';
                        output += '    <a class="uk-link-reset" style="display:block;margin-top:-4px;width:20px;"><i class="bi bi-three-dots-vertical"></i></a>';
                        output += '    <div class="uk-dropdown-mini" uk-dropdown="offset:5;pos:bottom-right;">';
                        output += '        <ul class="uk-nav uk-dropdown-nav">';
                        output += '           <li><a data-dtAction=\'{"type":"delete", "item":"' + full.site_id + '"}\'> ' + shift.i18n.delete + '</a></li>';
                        output += '        </ul>';
                        output += '    </div>';
                        output += '</div>';
                    }

                    return output;
                }
            }
        ]
    });

    // Action quick-edit
    $('.main-content').on('click', '[data-dtAction]', function(e) {
        e.preventDefault();

        let data = $(this).data('dtaction');

        $.fn.shift.dtAction({
            url  : "{{ app.router.url('setting/site/dtaction')|raw }}",
            data : data,
            validate : function(dtActionProceed) {
                if (data.type === 'delete') {
                    $.fn.shift.confirm({
                        title   : shift.i18n.are_you_sure,
                        message : shift.i18n.confirm_delete,
                        onConfirm : function() { dtActionProceed(); }
                    });
                } else {
                    dtActionProceed();
                }
            },
            onSuccess : function() {
                dtTable.clearPipeline().draw();
            }
        });
    });
});
</script>
{% endblock %}
