{% extends 'main.tpl.twig' %}

{% import '_embed/macro/forms.tpl.twig' as forms %}
{% import '_embed/macro/forms_language.tpl.twig' as forms_language %}

{% block main_content %}
<div class="uk-container uk-container-small ukt-pt-4">
<div class="content-header">
    <div class="uk-child-width-expand" uk-grid>
        <div class="uk-width-auto@s"><h1>{{ app.language.get('page_title') }}</h1></div>
        <div class="uk-flex uk-flex-middle uk-flex-right">
            <!-- <button class="uk-button uk-button-success" data-form-submit='{"form":"#form-site", "site_id":{{ site_id }}}'>{{ app.language.get('save') }}</button> -->

            <div class="uk-button-group">
                <button class="uk-button uk-button-success" data-form-submit='{"form":"#form-site", "site_id":"{{ site_id }}"}'>{{ app.language.get('save') }}</button>
                <div class="uk-inline">
                    <button class="uk-button uk-button-success uk-button-narrow"><span uk-icon="icon:chevron-down"></span></button>
                    <div uk-dropdown="pos:bottom-right">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a data-form-submit='{"form":"#form-site", "action":"close", "site_id":"{{ site_id }}"}'><i class="bi bi-check-circle ukt-mr-1"></i> {{ app.language.get('save_close') }}</a></li>
                            <li><a data-form-submit='{"form":"#form-site", "action":"new", "site_id":"{{ site_id }}"}'><i class="bi bi-file-plus ukt-mr-1"></i> {{ app.language.get('save_new') }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="{{ app.router.url('setting/site') }}" class="uk-button uk-button-default uk-button-narrow uk-margin-small-left"><i class="bi bi-x-circle-fill uk-text-danger ukt-mr-1"></i> {{ app.language.get(site_id != -1 ? 'close' : 'cancel') }}</a>
        </div>
    </div>
</div>

<div class="content-body uk-card-panel uk-card-body">
    <form id="form-site" class="uk-form-horizontal uk-form-margin-hover" action="{{ app.router.url('setting/site/save') }}" method="post" data-form-monitor>
        <fieldset class="uk-fieldset">
            <legend class="uk-legend">{{ app.language.get('general') }}</legend>

            {{ forms.input({'type':'text', 'label':'name', 'name':'name', 'value':setting.name, 'class':'uk-width-350@m', 'required': true}) }}
            {{ forms.input({'type':'text', 'label':'site_url', 'name':'url_host', 'value':setting.url_host, 'class':'uk-width-350@m', 'required': true}) }}
            {{ forms.input({'type':'text', 'label':'email', 'name':'email', 'value':setting.email, 'class':'uk-width-350@m', 'required': true}) }}
        </fieldset>

        <fieldset class="uk-fieldset">
            <legend class="uk-legend">{{ app.language.get('meta') }}</legend>

            {{ forms_language.input({'type':'text', 'languages':languages, 'label':'meta_title', 'name':'meta_title', 'value':setting.meta_title, 'class':'uk-width-350@m'}) }}
            {{ forms_language.textarea({'languages':languages, 'label':'meta_description', 'name':'meta_description', 'value':setting.meta_description, 'rows':'5'}) }}
            {{ forms_language.input({'type':'text', 'languages':languages, 'label':'meta_keyword', 'name':'meta_keyword', 'value':setting.meta_keyword}) }}
        </fieldset>

        <fieldset class="uk-fieldset">
            <legend class="uk-legend">{{ app.language.get('media') }}</legend>

            {{ forms.input({'type':'text', 'label':'logo', 'name':'logo', 'value':setting.logo }) }}
            {{ forms.input({'type':'text', 'label':'favicon', 'name':'favicon', 'value':setting.favicon }) }}
        </fieldset>

        <fieldset class="uk-fieldset">
            <legend class="uk-legend">{{ app.language.get('configuration') }}</legend>

            {{ forms.select({'label':'language', 'name':'language', 'options':languages, 'opt_text': 'name', 'opt_value': 'code', 'selected':setting.language}) }}
            {{ forms.select({'label':'layout', 'name':'layout_id', 'options':layoutList, 'opt_text': 'name', 'opt_value': 'layout_id', 'selected':setting.layout_id}) }}
            {{ forms.select({'label':'theme', 'name':'theme', 'options':themes, 'selected':setting.theme}) }}
            {{ forms.radioButton({'label':'maintenance', 'name':'maintenance', 'checked':setting.maintenance}) }}
        </fieldset>
    </form>
</div>
</div>
{% endblock %}
