{% extends 'main.tpl.twig' %}


{% block content %}
<div class="content-header">
    <h1 class="ukt-m-0">
        Shift<span class="uk-sub-title">{{ app.language.get('license_agreement') }}</span>
    </h1>
</div>
<div class="content-body uk-card-panel uk-card-body">

    {# <p>{{ app.language.get('read_agreement') }}</p> #}

<pre><code>Shift - Pragmatic Content Management
Copyright (c) Mudzakkir &lt;https://github.com/qaharmdz>

This program is free software: you can redistribute it and/or modify it under the terms of
the GNU General Public License as published by the Free Software Foundation,
either version 3 of the License, or (at your option) any later version.

<b>This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.</b>
See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program.
If not, see &lt;https://www.gnu.org/licenses/>.
</code></pre>

    <p class="ukt-mt-5">{{ app.language.get('detail_agreement')|raw }}</p>

    <div class="uk-flex uk-flex-center ukt-mt-5">
        <div>
            <a href="{{ app.router.url('page/requirement') }}" class="uk-button uk-button-primary">{{ app.language.get('agree_continue') }}</a>
        </div>
    </div>
</div>
{% endblock %}
