{% macro input(param) %}
    {% set param = {
        'type'      : 'text',
        'label'     : '',
        'name'      : '',
        'value'     : '',
        'languages' : [],
        'class'     : 'uk-width-1-1',
        'attribute' : '',
        'info'      : '',
        'required'  : false,
        'errors'    : []
    }|merge(param) %}
    {% set total = param.languages|length %}

    <div class="uk-margin {{ param.errors[param.name] is defined ? 'uk-form-danger' }}">
        <label class="uk-form-label" for="{{ param.label }}">{{ param.required ? '<span class="uk-text-danger">*</span>' }} {{ app.language.get(param.label) }}</label>
        <div class="uk-form-controls">
            {% for language in param.languages %}
                <div class="uk-inline uk-width-1-1">
                    {% if total > 1 %}
                        <span class="uk-form-icon uk-form-icon-background"><img src="{{ app.config.get('env.url_site') }}media/flags/{{ language.code }}.png" class="flag {{ not language.status ? 'flag-gray' }}" alt="{{ language.code }}"></span>
                    {% endif %}
                    <input type="{{ param.type }}" id="{{ param.label }}" name="{{ param.name }}[{{ language.language_id }}]" value="{{ param.value[language.language_id] ?? '' }}" class="uk-input {{ param.class }}" title="{{ '[' ~ language.code ~ '] ' ~ language.name }}" {{ param.attribute }}>
                </div>
            {% endfor %}
            {% if param.info %}
                <div class="uk-text-meta">{{ param.info }}</div>
            {% endif %}
            {% if param.errors[param.name] is defined %}
                <div class="uk-text-meta uk-text-danger">{{ param.errors[param.name] }}</div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro textarea(param) %}
    {% set param = {
        'languages'  : [],
        'label'      : '',
        'name'       : '',
        'value'      : '',
        'rows'       : '5',
        'class'      : 'uk-width-1-1',
        'class_form' : '',
        'attribute'  : '',
        'info'       : '',
        'required'   : false,
        'errors'     : []
    }|merge(param) %}
    {% set total = param.languages|length %}

    <div class="uk-margin {{ param.class_form }} {{ param.errors[param.name] is defined ? 'uk-form-danger' }}">
        <label class="uk-form-label" for="{{ param.label }}">{{ param.required ? '<span class="uk-text-danger">*</span>' }} {{ app.language.get(param.label) }}</label>
        <div class="uk-form-controls">
            {% if total > 1 %}
                <ul class="uk-tab ukt-mb-3" uk-tab="connect:#tab-{{ param.label }};">
                {% for language in param.languages %}
                    <li>
                        <a href="#" title="{{ '[' ~ language.code ~ '] ' ~ language.name }}">
                            <img src="{{ app.config.get('env.url_site') }}media/flags/{{ language.code }}.png" class="flag {{ not language.status ? 'flag-gray' }}" alt="{{ language.code }}">
                            {{ language.name }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
                <div id="tab-{{ param.label }}" class="uk-switcher">
                {% for language in param.languages %}
                    <div>
                        <textarea id="{{ param.label }}" name="{{ param.name }}[{{ language.language_id }}]" rows="{{ param.rows }}" class="uk-textarea {{ param.class }}" title="{{ language.name }}" {{ param.attribute }}>{{ param.value[language.language_id] ?? '' }}</textarea>
                    </div>
                {% endfor %}
                </div>
            {% else %}
                {% for language in param.languages %}
                    <textarea id="{{ param.label }}" name="{{ param.name }}[{{ language.language_id }}]" rows="{{ param.rows }}" class="uk-textarea {{ param.class }}" title="{{ language.name }}" {{ param.attribute }}>{{ param.value[language.language_id] ?? '' }}</textarea>
                {% endfor %}
            {% endif %}
            {% if param.info %}
                <div class="uk-text-meta">{{ param.info }}</div>
            {% endif %}
            {% if param.errors[param.name] is defined %}
                <div class="uk-text-meta uk-text-danger">{{ param.errors[param.name] }}</div>
            {% endif %}
        </div>
    </div>
{% endmacro %}
