<a>{{ code|upper }}</a>
<div class="uk-navbar-dropdown uk-width-small" uk-dropdown="offset:0; pos:bottom-right;">
    <form id="form-language" method="post" action="{{ app.router.url('common/language/language') }}">
        <ul class="uk-nav uk-navbar-dropdown-nav">
            {% for language in languages %}
                <li>
                    <a data-language data-language-code="{{ language.codename }}">
                        <img src="media/flags/{{ language.flag }}" alt="{{ language.name }}" title="{{ language.name }}">
                        {{ language.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <input type="hidden" name="code" value="" />
        <input type="hidden" name="redirect_route" value="{{ redirect.route }}" />
        <input type="hidden" name="redirect_args" value="{{ redirect.args }}" />
    </form>
</div>
