{% extends 'main.tpl.twig' %}

{% block main_content %}
<div class="uk-container container-content-wrapper">
    <div class="content-header">
        <div class="uk-flex uk-flex-middle">
            <div class="uk-width-expand">
                <h1 class="ukt-m-0">{{ shift.lib.language.get('page_title') }}</h1>
            </div>
            <div class="uk-width-auto">
                <a href="{{ shift.lib.router.url('account/usergroup/form') }}" class="uk-button uk-button-primary">{{ shift.lib.language.get('add_new') }}</a>
            </div>
        </div>
    </div>

    <div class="content-body uk-card-panel uk-card-body">
        <table id="accountUserGroup-list" class="uk-table uk-table-striped uk-table-hover">
            <thead>
                <tr>
                    <th class="ukt-px-0 noVisualColumn" style="width:30px;">
                        <a class="uk-link-reset uk-text-center uk-display-block uk-width-1-1"><i class="bi bi-three-dots-vertical"></i></a>
                        <div class="uk-dropdown-mini" uk-dropdown="offset:5;pos:bottom-left;">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a data-dtAction='{"type":"enabled"}'>{{ shift.lib.language.get('enabled') }}</a></li>
                                <li><a data-dtAction='{"type":"disabled"}'>{{ shift.lib.language.get('disabled') }}</a></li>
                                <li><a data-dtAction='{"type":"delete"}'>{{ shift.lib.language.get('delete') }}</a></li>
                            </ul>
                        </div>
                    </th>
                    <th style="width:60px;">{{ shift.lib.language.get('id') }}</th>
                    <th style="min-width:200px">{{ shift.lib.language.get('name') }}</th>
                    <th style="width:140px">{{ shift.lib.language.get('backend') }}</th>
                    <th style="width:140px">{{ shift.lib.language.get('status') }}</th>
                    <th style="width:80px;">{{ shift.lib.language.get('action') }}</th>
                </tr>
                <tr data-dtColumnFilter>
                    <td class="ukt-pt-1">
                        <input type="checkbox" class="uk-checkbox uk-margin-remove" onclick="$(this).closest('.uk-table').find('tbody td:first-child :checkbox').prop('checked', $(this).prop('checked'));">
                    </td>
                    <td data-dtinputfilter='{"type":"number"}'>
                        <input type="text" value="" data-index="1" class="uk-input">
                    </td>
                    <td data-dtinputfilter='{"type":"string"}'>
                        <input type="text" value="" data-index="2" class="uk-input">
                    </td>
                    <td data-dtinputfilter='{"type":"number", "mode":"match"}'>
                        <select data-index="3" class="uk-select">
                            <option value=""></option>
                            <option value="0">{{ shift.lib.language.get('no') }}</option>
                            <option value="1">{{ shift.lib.language.get('yes') }}</option>
                        </select>
                    </td>
                    <td data-dtinputfilter='{"type":"number", "mode":"match"}'>
                        <select data-index="4" class="uk-select">
                            <option value=""></option>
                            <option value="1">{{ shift.lib.language.get('enabled') }}</option>
                            <option value="0">{{ shift.lib.language.get('disabled') }}</option>
                        </select>
                    </td>
                    <td class="uk-text-center">
                        <a class="uk-button uk-text-warning" data-dtClearSearch uk-tooltip title="{{ shift.lib.language.get('search_clear') }}"><i class="bi bi-x-square-fill"></i></a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6" class="dataTables_empty"><i>{{ shift.lib.language.get('loading') }}</i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function() {
let tableEl    = '#accountUserGroup-list',
    columnsHide = [],
    dtTable    = $(tableEl).DataTable({
        ajax : $.fn.dataTable.pipeline({
            url  : "{{ shift.lib.router.url('account/usergroup/list')|raw }}",
            data : function(d, s) {
                d = dtShiftColumnFilter(d);
                d.timezone = getVisitorTimezone();
            }
        }),
        initComplete: function() {
            dtShiftUtility(dtTable, columnsHide);
        },
        sorting : [[3, 'desc'], [2, 'asc']], // admin access, name
        columnDefs : [
            { searchable: false, targets : [0, -1] },
            { orderable : false, targets : [0, -1] },
            { createdCell : function(nTd) {
                $(nTd).addClass('uk-text-center'); },
                targets : [ 0, 1, -3, -2, -1 ]
            },
        ],
        columns : [
            { data : 'user_group_id',
                render : function(data, type, full) {
                    return '<input type="checkbox" class="uk-checkbox checkbox-toggle" name="dtaction[]" value="' + data + '" />';
                }
            },
            { data : 'user_group_id' },
            { data : 'name'},
            { data : 'backend',
                render : function(data, type, full) {
                    return data == '1' ? shift.i18n.yes : shift.i18n.no;
                }
            },
            { data : 'status',
                render : function(data, type, full) {
                    output = shift.i18n['status_' + data];
                    if (!full.status) {
                        output  = '<div class="uk-label uk-label-warning">' + output + '</div>';
                    }
                    return output;
                }
            },
            { data : 'user_group_id',
                className : 'ukt-p-2',
                render : function(data, type, full) {
                    let output  = '';

                    output  = '<a href="' + full.url_edit + '" uk-tooltip title="' + shift.i18n.edit + '"><i class="bi bi-pencil"></i></a>';
                    if (data != '1') {
                        output += '<div class="uk-inline ukt-ml-2">';
                        output += '    <a class="uk-link-reset" style="display:block;margin-top:-4px;width:20px;"><i class="bi bi-three-dots-vertical"></i></a>';
                        output += '    <div class="uk-dropdown-mini" uk-dropdown="offset:5;pos:bottom-right;">';
                        output += '        <ul class="uk-nav uk-dropdown-nav">';
                        if (full.status) {
                            output += '       <li><a data-dtAction=\'{"type":"disabled", "item":"' + full.user_group_id + '"}\'>' + shift.i18n.disabled + '</a></li>';
                        } else {
                            output += '       <li><a data-dtAction=\'{"type":"enabled", "item":"' + full.user_group_id + '"}\'>' + shift.i18n.enabled + '</a></li>';
                        }
                        output += '           <li><a data-dtAction=\'{"type":"delete", "item":"' + full.user_group_id + '"}\'> ' + shift.i18n.delete + '</a></li>';
                        output += '        </ul>';
                        output += '    </div>';
                        output += '</div>';
                    }

                    return output;
                }
            }
        ]
    });

    // Action quick-edit
    $('.main-content').on('click', '[data-dtAction]', function(e) {
        e.preventDefault();

        let dtAction = $(this).data('dtaction');

        $.fn.shift.dtAction({
            url  : "{{ shift.lib.router.url('account/usergroup/dtaction')|raw }}",
            data : dtAction,
            validate : function(dtActionProceed) {
                if (dtAction.type === 'delete') {
                    $.fn.shift.confirm({
                        title   : shift.i18n.are_you_sure,
                        message : shift.i18n.confirm_delete,
                        onConfirm : function() { dtActionProceed(); }
                    });
                } else {
                    dtActionProceed();
                }
            },
            onSuccess : function() {
                dtTable.clearPipeline().draw();
            }
        });
    });
});
</script>

{% endblock %}
