{% extends 'document.tpl.twig' %}

{% block document_body %}
{{ layouts.alpha }}

{% if layouts.topbar %}
    <section class="position-topbar">
        {{ layouts.topbar }}
    </section>
{% endif %}

<header class="page-header">
    {{ header }}

    {% if app.document.getNode('breadcrumbs') %}
        <section class="section-breadcrumb">
            <div class="uk-container">
                <ul class="uk-breadcrumb">
                    {% for breadcrumb in app.document.getNode('breadcrumbs') %}
                        {% if breadcrumb.1 is defined %}
                            <li><a href="{{ breadcrumb.1 }}" {{ breadcrumb.2 is defined ? 'title="' ~ breadcrumb.2 ~ '"' : '' }}>{{ breadcrumb.0 }}</a></li>
                        {% else %}
                            <li class="uk-disabled"><span>{{ breadcrumb.0 }}</span></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
</header>

{% if layouts.top %}
    <section class="position-top">
        {{ layouts.top }}
    </section>
{% endif %}

<div class="page-body uk-section">
    <div class="section-middle uk-container">
        <div class="uk-grid" uk-grid>
            {% if layouts.sidebar_left %}
                <section class="position-sidebar-left uk-width-1-4 uk-width-1-5@m uk-visible@s">
                    {{ layouts.sidebar_left }}
                </section>
            {% endif %}

            <div class="region-content uk-width-expand">
                {% if layouts.content_top %}
                    <section class="position-content-top">
                        {{ layouts.content_top }}
                    </section>
                {% endif %}

                <main class="main-content">
                    {% block content %}{% endblock %}
                </main>

                {% if layouts.content_bottom %}
                    <section class="position-content-top">
                        {{ layouts.content_bottom }}
                    </section>
                {% endif %}
            </div>

            {% if layouts.sidebar_right %}
                <section class="position-sidebar-right uk-width-1-4 uk-width-1-5@m uk-visible@s">
                    {{ layouts.sidebar_right }}
                </section>
            {% endif %}
        </div>
    </div>
</div>

{% if layouts.bottom %}
    <section class="position-bottom">
        {{ layouts.bottom }}
    </section>
{% endif %}

<div class="page-footer uk-section uk-section-secondary">
    {% if layouts.footer %}
        <section class="position-footer">
            {{ layouts.footer }}
        </section>
    {% endif %}

    <footer class="uk-light">
        {{ footer }}
    </footer>
</div>

{{ layouts.omega }}
{% endblock %}
