{% extends 'main.tpl.twig' %}

{% block main_content %}
<div class="uk-container container-content-wrapper">
    <div class="content-header">
        <div class="uk-flex uk-flex-middle">
            <div class="uk-width-expand">
                <h1 class="ukt-m-0">{{ app.language.get('page_title') }}</h1>
            </div>
            <div class="uk-width-auto">
                <a href="{{ app.router.url('content/post/form') }}" class="uk-button uk-button-primary">{{ app.language.get('add_new') }}</a>
            </div>
        </div>
    </div>

    <div class="content-body uk-card-panel uk-card-body">
        <table id="contentPost-list" class="uk-table uk-table-striped uk-table-hover">
            <thead>
                <tr>
                    <th class="ukt-px-0 noVisualColumn" style="width:30px;">
                        <a class="uk-link-reset uk-text-center uk-display-block uk-width-1-1"><i class="bi bi-three-dots-vertical"></i></a>
                        <div class="uk-dropdown-mini" uk-dropdown="offset:5;pos:bottom-left;">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a data-dtAction='{"type":"publish"}'>{{ app.language.get('publish') }}</a></li>
                                <li><a data-dtAction='{"type":"pending"}'>{{ app.language.get('pending') }}</a></li>
                                <li><a data-dtAction='{"type":"draft"}'>{{ app.language.get('draft') }}</a></li>
                                <li><a data-dtAction='{"type":"disabled"}'>{{ app.language.get('disabled') }}</a></li>
                                <li><a data-dtAction='{"type":"delete"}'>{{ app.language.get('delete') }}</a></li>
                            </ul>
                        </div>
                    </th>
                    <th style="width:60px;">{{ app.language.get('id') }}</th>
                    <th style="min-width:200px">{{ app.language.get('title') }}</th>
                    <th style="width:150px">{{ app.language.get('author') }}</th>
                    <th style="width:200px">{{ app.language.get('category') }}</th>
                    <th style="width:200px;">{{ app.language.get('created') }}</th>
                    <th style="width:200px;">{{ app.language.get('updated') }}</th>
                    <th style="width:200px;">{{ app.language.get('publish') }}</th>
                    <th style="width:200px;">{{ app.language.get('unpublish') }}</th>
                    <th style="width:120px">{{ app.language.get('status') }}</th>
                    <th style="width:80px;">{{ app.language.get('action') }}</th>
                </tr>
                <tr data-dtColumnFilter>
                    <td class="ukt-pt-1">
                        <input type="checkbox" class="uk-checkbox uk-margin-remove" onclick="$(this).closest('.uk-table').find('tbody td:first-child :checkbox').prop('checked', $(this).prop('checked'));">
                    </td>
                    <td data-dtInputfilter='{"type":"number"}'>
                        <input type="text" value="" data-index="1" class="uk-input">
                    </td>
                    <td data-dtInputfilter='{"type":"string"}'>
                        <input type="text" value="" data-index="2" class="uk-input">
                    </td>
                    <td data-dtInputfilter='{"type":"string"}'>
                        <input type="text" value="" data-index="3" class="uk-input">
                    </td>
                    <td data-dtInputfilter='{"type":"string"}'>
                        <input type="text" value="" data-index="4" class="uk-input">
                    </td>
                    <td data-dtInputfilter='{"type":"date"}'>
                        <input type="input" value="" data-index="5" data-dtDatePicker class="uk-input"> -
                        <input type="input" value="" data-index="5" data-dtDatePicker class="uk-input">
                        <a class="uk-text-meta" style="text-decoration:none;" data-dtDatePicker-clear>x</a>
                    </td>
                    <td data-dtInputfilter='{"type":"date"}'>
                        <input type="input" value="" data-index="6" data-dtDatePicker class="uk-input"> -
                        <input type="input" value="" data-index="6" data-dtDatePicker class="uk-input">
                        <a class="uk-text-meta" style="text-decoration:none;" data-dtDatePicker-clear>x</a>
                    </td>
                    <td data-dtInputfilter='{"type":"date"}'>
                        <input type="input" value="" data-index="7" data-dtDatePicker class="uk-input"> -
                        <input type="input" value="" data-index="7" data-dtDatePicker class="uk-input">
                        <a class="uk-text-meta" style="text-decoration:none;" data-dtDatePicker-clear>x</a>
                    </td>
                    <td data-dtInputfilter='{"type":"date"}'>
                        <input type="input" value="" data-index="8" data-dtDatePicker class="uk-input"> -
                        <input type="input" value="" data-index="8" data-dtDatePicker class="uk-input">
                        <a class="uk-text-meta" style="text-decoration:none;" data-dtDatePicker-clear>x</a>
                    </td>
                    <td data-dtInputfilter='{"type":"string"}'>
                        <select data-index="9" class="uk-select">
                            <option value=""></option>
                            <option value="publish">{{ app.language.get('publish') }}</option>
                            <option value="pending">{{ app.language.get('pending') }}</option>
                            <option value="draft">{{ app.language.get('draft') }}</option>
                            <option value="disabled">{{ app.language.get('disabled') }}</option>
                        </select>
                    </td>
                    <td class="uk-text-center">
                        <a class="uk-button uk-text-warning" data-dtClearSearch uk-tooltip title="{{ app.language.get('search_clear') }}"><i class="bi bi-x-square-fill"></i></a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="11" class="dataTables_empty"><i>{{ app.language.get('loading') }}</i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function() {
$.extend(shift.i18n, {
    status_publish  : '{{ app.language.get("publish") }}',
    status_pending  : '{{ app.language.get("pending") }}',
    status_draft    : '{{ app.language.get("draft") }}',
    status_disabled : '{{ app.language.get("disabled") }}',
});

let tableEl     = '#contentPost-list',
    columnsHide = [5, 7, 8], // created, publish, unpublish
    dtTable     = $(tableEl).DataTable({
        ajax : $.fn.dataTable.pipeline({
            url  : "{{ app.router.url('content/post/list')|raw }}",
            data : function(d, s) {
                d = dtShiftColumnFilter(d);
                d.timezone = getLocalTimezone();
            }
        }),
        initComplete: function() {
            dtShiftUtility(dtTable, columnsHide);
        },
        sorting : [[6, 'desc']], // updated
        columnDefs : [
            { searchable : false, targets : [0, -1] },
            { orderable : false, targets : [0, -1] },
            { createdCell : function(nTd) {
                $(nTd).addClass('uk-text-center'); },
                targets : [ 0, 1, -2, -1 ]
            },
        ],
        columns : [
            { data : 'post_id',
                render : function(data, type, full) {
                    return  '<input type="checkbox" class="uk-checkbox checkbox-toggle" name="dtaction[]" value="' + data + '" />';
                }
            },
            { data : 'post_id' },
            { data : 'title' },
            { data : 'author' },
            { data : 'category' },
            { data : 'created',
                render : function(data, type, full) {
                    return '<span title="' + data + ' UTC">' + formatDate(data) + '</span>';
                }
            },
            { data : 'updated',
                render : function(data, type, full) {
                    return '<span title="' + data + ' UTC">' + formatDate(data) + '</span>';
                }
            },
            { data : 'publish',
                render : function(data, type, full) {
                    return data ? '<span title="' + data + ' UTC">' + formatDate(data) + '</span>' : '-';
                }
            },
            { data : 'unpublish',
                render : function(data, type, full) {
                    return data ? '<span title="' + data + ' UTC">' + formatDate(data) + '</span>' : '-';
                }
            },
            { data : 'status',
                render : function(data, type, full) {
                    output = shift.i18n['status_' + data];

                    if (full.status === 'draft') {
                        output = '<div class="uk-label uk-label-success">' + data + '</div>';
                    } else if (full.status === 'pending') {
                        output = '<div class="uk-label uk-label-primary">' + data + '</div>';
                    } else if (full.status === 'disabled') {
                        output = '<div class="uk-label uk-label-warning">' + data + '</div>';
                    }

                    return output;
                }
            },
            { data : 'post_id',
                className : 'ukt-p-2',
                render : function(data, type, full) {
                    output  = '<a href="' + full.url_edit + '" uk-tooltip title="{{ app.language.get("edit") }}"><i class="bi bi-pencil"></i></a>';
                    output += '<div class="uk-inline ukt-ml-2">';
                    output += '    <a class="uk-link-reset" style="display:block;margin-top:-4px;width:20px;"><i class="bi bi-three-dots-vertical"></i></a>';
                    output += '    <div class="uk-dropdown-mini" uk-dropdown="offset:5;pos:bottom-right;">';
                    output += '        <ul class="uk-nav uk-dropdown-nav">';
                    if (full.status !== 'publish') {
                        output += '       <li><a data-dtAction=\'{"type":"publish", "item":"' + full.post_id + '"}\'>{{ app.language.get("publish") }}</a></li>';
                    }
                    if (full.status !== 'pending') {
                        output += '       <li><a data-dtAction=\'{"type":"pending", "item":"' + full.post_id + '"}\'>{{ app.language.get("pending") }}</a></li>';
                    }
                    if (full.status !== 'draft') {
                        output += '       <li><a data-dtAction=\'{"type":"draft", "item":"' + full.post_id + '"}\'>{{ app.language.get("draft") }}</a></li>';
                    }
                    if (full.status !== 'disabled') {
                        output += '       <li><a data-dtAction=\'{"type":"disabled", "item":"' + full.post_id + '"}\'>{{ app.language.get("disabled") }}</a></li>';
                    }
                    output += '           <li><a data-dtAction=\'{"type":"delete", "item":"' + full.post_id + '"}\'> {{ app.language.get("delete") }}</a></li>';
                    output += '        </ul>';
                    output += '    </div>';
                    output += '</div>';

                    return output;
                }
            }
        ]
    });

    // Action quick-edit
    $('.main-content').on('click', '[data-dtAction]', function(e) {
        e.preventDefault();

        let data = $(this).data('dtaction');

        $.fn.shift.dtAction({
            url  : "{{ app.router.url('content/post/dtaction')|raw }}",
            data : data,
            validate : function(dtActionProceed) {
                if (data.type === 'delete') {
                    $.fn.shift.confirm({
                        title   : shift.i18n.are_you_sure,
                        message : shift.i18n.confirm_delete,
                        onConfirm : function() { dtActionProceed(); }
                    });
                } else {
                    dtActionProceed();
                }
            },
            onSuccess : function() {
                dtTable.clearPipeline().draw();
            }
        });
    });
});
</script>
{% endblock %}
