<div class="uk-container">
    <div class="uk-grid uk-child-width-expand@s uk-text-small" uk-grid>
        <div>
            <h4>{{ shift.lib.language.get('page') }}</h4>
            <ul class="uk-list uk-list-disc uk-list-collapse uk-list-muted">
                <li><a href="{{ shift.lib.router.url('page/contact') }}">{{ shift.lib.language.get('contact') }}</a></li>
                <li><a href="{{ shift.lib.router.url('page/sitemap') }}">{{ shift.lib.language.get('sitemap') }}</a></li>
            </ul>
        </div>
    </div>
</div>
