<div class="uk-container">
    <div class="uk-grid uk-child-width-expand@s uk-text-small" uk-grid>
        <div>
            <h4>{{ app.language.get('text_service') }}</h4>
            <ul class="uk-list uk-list-disc uk-list-collapse uk-list-muted">
                <li><a href="{{ app.router.url('page/contact') }}">{{ app.language.get('text_contact') }}</a></li>
                <li><a href="{{ app.router.url('page/sitemap') }}">{{ app.language.get('text_sitemap') }}</a></li>
            </ul>
        </div>
    </div>
</div>
