<nav class="section-navbar-top">
    <div class="uk-container">
        <nav class="uk-navbar-container uk-navbar-transparent uk-light" uk-navbar>
            <div class="uk-navbar-left">
                <div class="uk-navbar-item">
                    {{ search|raw }}
                </div>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        {{ language|raw }}
                    </li>
                    <li>
                        <a>{{ app.language.get('blockHeader.account') }}</a>
                        <div class="uk-navbar-dropdown uk-width-small" uk-dropdown="offset:0; pos:bottom-right;">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                {% if logged %}
                                    <li><a href="{{ app.router.url('account/account') }}">{{ app.language.get('blockHeader.account') }}</a></li>
                                    <li><a href="{{ app.router.url('account/logout') }}">{{ app.language.get('blockHeader.logout') }}</a></li>
                                {% else %}
                                    <li><a href="{{ app.router.url('account/register') }}">{{ app.language.get('blockHeader.register') }}</a></li>
                                    <li><a href="{{ app.router.url('account/login') }}">{{ app.language.get('blockHeader.login') }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</nav>

<header class="section-header">
    <div class="uk-container nav-boundary">
        <div class="uk-grid uk-flex-middle" uk-grid>
            <div class="uk-width-225 uk-visible@m">
                {% if logo %}
                    <a href="{{ app.router.url('page/home') }}">
                        <img src="{{ logo }}" title="{{ app.config.get('system.site.name') }}" alt="{{ app.config.get('system.site.name') }}">
                    </a>
                {% else %}
                    <h1><a href="{{ app.router.url('page/home') }}">{{ app.config.get('system.site.name') }}s</a></h1>
                {% endif %}
            </div>
            <div class="uk-width-expand">
                <nav class="uk-navbar-container uk-navbar-transparent navbar-main navbar-main-desktop uk-visible@m" uk-navbar>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            {% for nav in navigations %}
                                {% if nav.children is defined and nav.children %}
                                    <li>
                                        <a href="{{ nav.href }}" >{{ nav.name }}</a>
                                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-{{ nav.column }}" uk-dropdown="offset:10; boundary: !.nav-boundary;">
                                            <div class="uk-navbar-dropdown-grid uk-grid uk-child-width-1-{{ nav.column }}" uk-grid>
                                                {% for children in nav.children|batch(nav.children|length / nav.column|round(1, 'ceil')) %}
                                                <div>
                                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                                        {% for child in children %}
                                                            <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </li>
                                {% else %}
                                    <li><a href="{{ nav.href }}">{{ nav.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </nav>

                <nav class="uk-navbar-container uk-navbar-transparent navbar-main navbar-main-mobile uk-hidden@m" uk-navbar>
                    <div class="uk-navbar-left">
                        <a class="uk-navbar-item uk-logo uk-width-100 uk-padding-remove" href="{{ app.router.url('page/home') }}">
                            {% if logo %}
                                <img src="{{ logo }}" title="{{ app.config.get('system.site.name') }}" alt="{{ app.config.get('system.site.name') }}">
                            {% else %}
                                {{ app.config.get('system.site.name') }}
                            {% endif %}
                        </a>
                    </div>
                    <div class="uk-navbar-right">
                        <a uk-navbar-toggle-icon="" href="#offcanvas" uk-toggle class="uk-navbar-toggle uk-hidden@m uk-icon uk-navbar-toggle-icon"></a>
                    </div>
                </nav>
            </div> {# .uk-width-expand #}
        </div>
    </div>

    <div id="offcanvas" uk-offcanvas="mode: push; overlay: true">
        <div class="uk-offcanvas-bar">

            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <ul class="uk-nav uk-nav-default">
                <li class="uk-active"><a href="#">Active</a></li>
                <li class="uk-parent">
                    <a href="#">Parent</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">Sub item</a></li>
                        <li><a href="#">Sub item</a></li>
                    </ul>
                </li>
                <li class="uk-nav-header">Header</li>
                <li><a href="#js-options"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
            </ul>

            <h3>Title</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</header>
