{% extends 'main.tpl.twig' %}

{% block content %}
<h1>{{ category.title }}</h1>

{{ category.content|raw }}

<div class="uk-child-width-1-{{ category.meta.post_column }}@m" uk-grid>
{% for post in posts %}
    <div class="{{ loop.index <= category.meta.post_lead ? 'uk-width-1-1' }}">
        <h2>{{ post.title }}</h2>
        {{ post.excerpt|raw }}
    </div>
{% endfor %}
</div>

{{ app.config.get('plugin.content.custom_code')|raw }}
{{ category.meta.custom_code|raw }}
{% endblock %}
