{% extends 'main.tpl.twig' %}

{% block content %}
<h1>{{ category.title }}</h1>

{{ category.content|raw }}

<div class="uk-child-width-1-{{ category.meta.post_column }}@m" uk-grid>
{% for post in posts %}
    <article class="uk-article {{ loop.index <= category.meta.post_lead ? 'uk-width-1-1' }}">
        {% if loop.index <= category.meta.post_lead %}
            <h2 class="ukt-mb-1"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        {% else %}
            <h3 class="ukt-mb-1"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        {% endif %}
        <p class="uk-article-meta ukt-my-0">
            Posted
            {% if post.publish %}
                on <time datetime="{{ post.publish }}">{{ post.publish|date('Y-m-d') }}</time>
            {% endif %}
            by {{ post.author_fullname }}
        </p>
        {{ post.excerpt|raw }}
        <a href="{{ post.url }}">{{ shift.lib.language.get('read_more') }}</a>
    </article>
{% endfor %}
</div>

{{ shift.lib.config.get('plugin.content.custom_code')|raw }}
{{ category.meta.custom_code|raw }}
{% endblock %}
