{% extends 'main.tpl.twig' %}

{% block content %}
<h1>{{ page_title }}</h1>

{% if categories %}
<div class="uk-child-width-1-{{ app.config.get('plugin.content.category_post_column') }}@m" uk-grid>
    {% for category in categories %}
        <div>
            <h3>{{ category.title }} <span class="uk-sub-title"><a href="{{ category.url }}">{{ app.language.get('view_more') }}</a></span></h3>
            <ul class="uk-list">
            {% for post in category.posts %}
                {% if loop.index <= app.config.get('plugin.content.category_post_lead') %}
                    <li class="uk-margin-bottom">
                        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                        {{ post.excerpt|raw }}
                    </li>
                {% else %}
                    <li><h4><a href="{{ post.url }}">{{ post.title }}</a></h4></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
