{% extends 'main.tpl.twig' %}

{% block main_content %}
<div class="uk-container container-content-wrapper">
    <div class="content-header">
        <div class="uk-flex uk-flex-middle">
            <div class="uk-width-expand">
                <h1 class="ukt-m-0">{{ app.language.get('page_title') }}</h1>
            </div>
            <div class="uk-width-auto">
                <button type="button" id="ext-upload-button" class="uk-button uk-button-primary"><i class="bi bi-upload ukt-mr-1"></i> {{ app.language.get('upload') }}</button>
            </div>
        </div>
    </div>

    <div class="content-body uk-card-panel uk-card-body">
        <table id="extensionManage-list" class="uk-table uk-table-striped uk-table-hover">
            <thead>
                <tr>
                    <th class="ukt-px-0 noVisualColumn" style="width:30px;">
                        <a class="uk-link-reset uk-text-center uk-display-block uk-width-1-1"><i class="bi bi-three-dots-vertical"></i></a>
                        <div class="uk-dropdown-mini" uk-dropdown="offset:5;pos:bottom-left;">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a data-dtAction='{"type":"enabled"}'>{{ app.language.get('enabled') }}</a></li>
                                <li><a data-dtAction='{"type":"disabled"}'>{{ app.language.get('disabled') }}</a></li>
                                <li><a data-dtAction='{"type":"delete"}'>{{ app.language.get('delete') }}</a></li>
                            </ul>
                        </div>
                    </th>
                    <th style="width:60px;">{{ app.language.get('id') }}</th>
                    <th style="width:90px">{{ app.language.get('type') }}</th>
                    <th style="width:140px">{{ app.language.get('codename') }}</th>
                    <th style="min-width:200px">{{ app.language.get('name') }}</th>
                    <th style="width:140px">{{ app.language.get('author') }}</th>
                    <th style="width:85px">{{ app.language.get('version') }}</th>
                    <th style="width:110px">{{ app.language.get('installed') }}</th>
                    <th style="width:90px">{{ app.language.get('status') }}</th>
                    <th style="width:80px;">{{ app.language.get('action') }}</th>
                </tr>
                <tr data-dtColumnFilter>
                    <td class="ukt-pt-1">
                        <input type="checkbox" class="uk-checkbox uk-margin-remove" onclick="$(this).closest('.uk-table').find('tbody td:first-child :checkbox').prop('checked', $(this).prop('checked'));">
                    </td>
                    <td data-filter='{"type":"text"}'>
                        <select data-index="1" class="uk-select">
                            <option value=""></option>
                            <option value="plugin">{{ app.language.get('plugin') }}</option>
                            <option value="module">{{ app.language.get('module') }}</option>
                            <option value="theme">{{ app.language.get('theme') }}</option>
                            <option value="language">{{ app.language.get('language') }}</option>
                        </select>
                    </td>
                    <td data-filter='{"type":"number"}'>
                        <input type="text" value="" data-index="2" class="uk-input">
                    </td>
                    <td data-filter='{"type":"string"}'>
                        <input type="text" value="" data-index="3" class="uk-input">
                    </td>
                    <td data-filter='{"type":"string"}'>
                        <input type="text" value="" data-index="4" class="uk-input">
                    </td>
                    <td data-filter='{"type":"string"}'>
                        <input type="text" value="" data-index="5" class="uk-input">
                    </td>
                    <td data-filter='{"type":"string"}'>
                        <input type="text" value="" data-index="6" class="uk-input">
                    </td>
                    <td data-filter='{"type":"number"}'>
                        <select data-index="7" class="uk-select">
                            <option value=""></option>
                            <option value="1">{{ app.language.get('installed') }}</option>
                            <option value="0">{{ app.language.get('installed_not') }}</option>
                        </select>
                    </td>
                    <td data-filter='{"type":"number"}'>
                        <select data-index="8" class="uk-select">
                            <option value=""></option>
                            <option value="1">{{ app.language.get('enabled') }}</option>
                            <option value="0">{{ app.language.get('disabled') }}</option>
                        </select>
                    </td>
                    <td class="uk-text-center">
                        <a class="uk-button uk-text-warning" data-dtClearSearch uk-tooltip title="{{ app.language.get('search_clear') }}"><i class="bi bi-x-square-fill"></i></a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="10" class="dataTables_empty"><i>{{ app.language.get('loading') }}</i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="ext-upload-wrapper" class="uk-hidden">
    <form id="ext-upload-form" enctype="multipart/form-data">
        <input id="ext-upload-input" type="file" name="file" accept=".zip" />
    </form>

    <div id="ext-upload-progress" uk-modal='{"esc-close":false, bg-close:false}'>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">{{ app.language.get('upload') }}</h2>

            <progress class="uk-progress" value="0" max="100"></progress>
            <div class="ext-upload-message ukt-mb-4"></div>

            <div class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="ext-info-wrapper" class="uk-hidden">
    <div id="ext-information" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-width-750">
            <button class="uk-modal-close-outside" type="button" uk-close></button>
            <div id="ext-info-content">
                {{ app.language.get('processing') }}
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
$.extend(shift.i18n, {
    uploading : '{{ app.language.get("uploading")|raw }}',
    install_0 : '{{ app.language.get("install_0") }}',
    install_1 : '{{ app.language.get("install_1") }}',
    confirm_delete : '{{ app.language.get("confirm_delete")|raw }}',
    confirm_uninstall : '{{ app.language.get("confirm_uninstall")|raw }}',
});

let tableEl     = '#extensionManage-list',
    columnsHide = [],
    dtTable     = $(tableEl).DataTable({
        ajax : $.fn.dataTable.pipeline({
            url  : "{{ app.router.url('extension/manage/list')|raw }}",
            data : function(d, s) {
                d = dtShiftColumnFilter(d);
                d.timezone = getLocalTimezone();
                d.extMetas = {{ extensions.metaFiles|json_encode()|raw }};
            }
        }),
        initComplete: function() {
            dtShiftUtility(dtTable, columnsHide);
        },
        sorting : [[2, 'desc'], [3, 'asc']], // type, name
        columnDefs : [
            { searchable : false, targets : [0, -1] },
            { orderable : false, targets : [0, -1] },
            { createdCell : function(nTd) {
                $(nTd).addClass('uk-text-center'); },
                targets : [ 0, 1, -4, -3, -2, -1 ]
            },
        ],
        columns : [
            { data : 'extension_id',
                render : function(data, type, full) {
                    return  '<input type="checkbox" class="uk-checkbox checkbox-toggle" name="dtaction[]" value="' + data + '" />';
                }
            },
            { data : 'extension_id' },
            { data : 'type',
                render : function(data, type, full) {
                    return shift.i18n[data];
                }
            },
            { data : 'codename',
                render : function(data, type, full) {
                    return '<code>' + data + '</code>';
                }
            },
            { data : 'name',
                render : function(data, type, full) {
                    output = data;
                    if (full.version_meta && full.version != full.version_meta) {
                        output += '<a class="ukt-ml-2 uk-text-warning" data-dtAction=\'{"type":"info", "codename":"' + full.codename + '"}\' uk-tooltip title="{{ app.language.get("information") }}">';
                        output += '<b>*</b> {{ app.language.get("new") }} v' + full.version_meta;
                        output += '</a>';
                    }
                    return output;
                }
            },
            { data : 'author',
                render : function(data, type, full) {
                    return '<a href="'+ full.url + '" target="_blank">' + data + '</a>';
                }
            },
            { data : 'version' },
            { data : 'install',
                render : function(data, type, full) {
                    output = shift.i18n['install_' + data];
                    if (!full.install) {
                        output = '<div class="uk-label uk-label-danger">' + shift.i18n['install_' + data] + '</div>';
                    }
                    return output;
                }
            },
            { data : 'status',
                render : function(data, type, full) {
                    output = shift.i18n['status_' + data];
                    if (!full.status) {
                        output = '<div class="uk-label uk-label-warning">' + shift.i18n['status_' + data] + '</div>';
                    }
                    return output;
                }
            },
            { data : 'extension_id',
                className : 'ukt-p-2',
                render : function(data, type, full) {
                    output = '<a data-dtAction=\'{"type":"info", "codename":"' + full.codename + '"}\' uk-tooltip title="{{ app.language.get("information") }}"><i class="bi bi-info-circle"></i></a>';
                    output += '<div class="uk-inline ukt-ml-2">';
                    output += '    <a class="uk-link-reset" style="display:block;margin-top:-4px;width:20px;"><i class="bi bi-three-dots-vertical"></i></a>';
                    output += '    <div class="uk-dropdown-mini" uk-dropdown="offset:5;pos:bottom-right;">';
                    output += '        <ul class="uk-nav uk-dropdown-nav">';
                    if (full.status) {
                        output += '       <li><a data-dtAction=\'{"type":"disabled", "item":"' + full.extension_id + '"}\'>{{ app.language.get("disabled") }}</a></li>';
                    } else {
                        if (full.install) {
                            output += '   <li><a data-dtAction=\'{"type":"enabled", "item":"' + full.extension_id + '"}\'>{{ app.language.get("enabled") }}</a></li>';
                        } else {
                            output += '   <li><a class="uk-link-muted">{{ app.language.get("enabled") }}</a></li>';
                        }
                    }
                    output += '           <li class="uk-nav-divider"></li>';
                    if (full.install) {
                        output += '       <li><a data-dtAction=\'{"type":"uninstall", "item":"' + full.extension_id + '"}\'>{{ app.language.get("uninstall") }}</a></li>';
                        output += '       <li><a class="uk-link-muted">{{ app.language.get("delete") }}</a></li>';
                    } else {
                        output += '       <li><a data-dtAction=\'{"type":"install", "item":"' + full.extension_id + '"}\'>{{ app.language.get("install") }}</a></li>';
                        output += '       <li><a data-dtAction=\'{"type":"delete", "item":"' + full.extension_id + '"}\'>{{ app.language.get("delete") }}</a></li>';
                    }
                    output += '        </ul>';
                    output += '    </div>';
                    output += '</div>';

                    return output;
                }
            }
        ]
    });

// Action quick-edit
$('.main-content').on('click', '[data-dtAction]', function(e) {
    e.preventDefault();

    let data = $(this).data('dtaction');

    if (data.type === 'info') {
        extensionInfo(data);
    } else {
        $.fn.shift.dtAction({
            url  : "{{ app.router.url('extension/manage/dtaction')|raw }}",
            data : data,
            validate : function(dtActionProceed) {
                if (data.type === 'uninstall') {
                    $.fn.shift.confirm({
                        title   : shift.i18n.are_you_sure,
                        message : shift.i18n.confirm_uninstall,
                        onConfirm : function() { dtActionProceed(); }
                    });
                } else if (data.type === 'delete') {
                    $.fn.shift.confirm({
                        title   : shift.i18n.are_you_sure,
                        message : shift.i18n.confirm_delete,
                        onConfirm : function() { dtActionProceed(); }
                    });
                } else {
                    dtActionProceed();
                }
            },
            onSuccess : function() {
                dtTable.clearPipeline().draw();
            }
        });
    }
});

$('#ext-upload-button').on('click', function(e) {
    $('#ext-upload-input').trigger('click').on('change', function () {
        let elButton   = $('#ext-upload-button'),
            elProgress = $('#ext-upload-progress .uk-progress');

        $.ajax({
            url  : "{{ app.router.url('extension/manage/upload')|raw }}",
            type : 'POST',
            data : new FormData($('#ext-upload-form')[0]),
            dataType : 'json',
            cache : false,
            contentType: false,
            processData: false,
            beforeSend: function () {
                elButton.prop('disabled', true).prepend('<span uk-spinner="ratio:0.6" class="js-process-spinner" style="margin-left:-5px;margin-right:8px;"></span>');
                UIkit.modal('#ext-upload-progress').show();
            },
            xhr: function() {
                $('.ext-upload-message').html(shift.i18n.uploading);

                let xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener('progress', function(evt) {
                    if (evt.lengthComputable) {
                        let progressComplete = (evt.loaded / evt.total) * 100;

                        progressComplete = (progressComplete / 3) * 2;
                        elProgress.attr('value', progressComplete);
                    }
                }, false);

                return xhr;
            },
            success: function(data) {
                let ntfClass = data.success ? 'uk-text-success' : 'uk-text-danger';

                setTimeout(function() {
                    $('.ext-upload-message').html(data.message).addClass(ntfClass);

                    if (data.success) {
                        elProgress.attr('value', 100);

                        $.get("{{ app.router.url('extension/manage/syncExtensions')|raw }}", function(data) {
                            $('.main-content').find('[data-dtreload]').first().trigger('click');
                        });
                    }
                }, 500);
            },
            complete: function () {
                elButton.prop('disabled', false);
                $('.js-process-spinner').remove();
                $('#ext-upload-input').val(null);
            }
        });
    });
});
});

function extensionInfo(params) {
    $.get("{{ app.router.url('extension/manage/info')|raw }}", params, function(data) {
        $('#ext-info-content').html(data);
        UIkit.modal('#ext-information').show();
    });

    UIkit.util.on('#ext-information', 'hidden', function() {
        $('#ext-info-content').html("{{ app.language.get('processing') }}");
    });
}
</script>
{% endblock %}
