{% extends 'main.tpl.twig' %}

{% import '_embed/macro/forms.tpl.twig' as forms %}

{% block main_content %}
<div class="uk-container uk-container-small container-content-wrapper">
    <div class="content-header">
        <div class="uk-child-width-expand" uk-grid>
            <div class="uk-width-auto@s"><h1>{{ app.language.get('page_title') }}</h1></div>
        </div>
    </div>

    {% include '_embed/partial/alerts.tpl.twig' %}

    <div class="content-body uk-card-panel uk-card-body">
        <form id="form-export" class="uk-form-horizontal uk-form-margin-hover" action="{{ app.router.url('tool/backup/export') }}" method="post">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">{{ app.language.get('backup') }}</legend>

                {{ forms.checkboxPanel({'label':'db_table', 'name':'export[]', lists:dbTables, checked:dbTables, htmlEnd:'
<div class="uk-child-width-1-2 ukt-mt-3" uk-grid>
    <div class="uk-text-small">
        <a class="js-select-all">' ~ app.language.get('select_all') ~ '</a>
        <span class="ukt-mx-2">|</span>
        <a class="js-unselect-all">' ~ app.language.get('unselect_all') ~ '</a>
    </div>
    <div>
        <button type="submit" class="uk-button uk-button-secondary ukt-px-3 uk-align-right" form="form-export">
            <i class="bi bi-download uk-text-light ukt-mr-1"></i>' ~ app.language.get('export') ~ '
        </button>
    </div>
</div>
                '}) }}

            </fieldset>

            <fieldset class="uk-fieldset">
                <legend class="uk-legend">{{ app.language.get('restore') }}</legend>

                <div id="progress-wrapper" class="ukt-mt-4 uk-hidden">
                    <progress id="js-progress-import" class="uk-progress" value="0" max="100"></progress>
                </div>

                <button type="button" id="button-import" class="uk-button uk-button-primary uk-align-center">
                    <i class="bi bi-upload uk-text-light ukt-mr-1"></i> {{ app.language.get('import') }}
                </button>
            </fieldset>
        </form>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.js-select-all').on('click', function () {
        $(this).closest('.uk-form-controls').find(':checkbox').prop('checked', true).trigger('change');
    });
    $('.js-unselect-all').on('click', function () {
        $(this).closest('.uk-form-controls').find(':checkbox').prop('checked', false).trigger('change');
    });

    $('#button-import').on('click', function() {
        $('#form-import').remove();
        $('#progress-wrapper').prepend('<form enctype="multipart/form-data" id="form-import" style="display: none;"><input type="file" name="import" /></form>');
        $('#form-import input[name=\'import\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function() {
            if ($('#form-import input[name=\'import\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: '{{ app.router.url("tool/backup/import")|raw }}',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-import')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function() {
                        $('#js-progress-import').attr('value', 0);
                        $('#progress-wrapper').removeClass('uk-hidden');

                        $.fn.shift.goNotify('process');
                        $('#button-import').prop('disabled', true);
                    },
                    success: function(data) {
                        if (data.success) {
                            $.fn.shift.goNotify('success', data.success);
                            $('#button-import').prop('disabled', false);
                        }

                        if (data.total) {
                            $('#js-progress-import').attr('value', data.total);
                        }

                        if (data.next) {
                            next(data.next);
                        }
                    }
                });
            }
        }, 500);
    });

    function next(url) {
        $.ajax({
            url: url,
            dataType: 'json',
            success: function(data) {
                if (data.success) {
                    $.fn.shift.goNotify('success', data.success);
                    $('#button-import').prop('disabled', false);
                }

                if (data.total) {
                    $('#js-progress-import').attr('value', data.total);
                }

                if (data.next) {
                    next(data.next);
                }
            }
        });
    }
});
</script>
{% endblock %}
