{% extends 'main.tpl.twig' %}

{% import '_embed/macro/forms.tpl.twig' as forms %}

{% block main_content %}
<div class="uk-container uk-container-small container-content-wrapper">
    <div class="content-header">
        <div class="uk-flex uk-flex-middle">
            <div class="uk-width-expand">
                <h1 class="ukt-m-0">{{ app.language.get('page_title') }}</h1>
            </div>
            <div class="uk-width-auto">
                <button class="uk-button uk-button-danger" data-cache-clear="all"><i class="bi bi-trash ukt-mr-1"></i> {{ app.language.get('purge') }}</button>
            </div>
        </div>
    </div>

    <div class="content-body">
        <div class="uk-child-width-1-2@m" uk-grid="masonry:true">
            <div>
                <div class="uk-card-panel uk-card-body">
                    <fieldset class="uk-fieldset">
                        <legend class="uk-legend">{{ app.language.get('general') }}</legend>

                        <p>
                            {{ app.language.get('driver') }}: {{ cache_general.driver }}<br>
                            {{ app.language.get('default_ttl') }}: {{ cache_general.default_ttl }}<br>
                            {{ app.language.get('total_size') }}: <span class="cache_general_size">{{ cache_general.size }}</span>
                        </p>
                        <p><span class="cache_general_info">{{ cache_general.info }}</span></p>

                        <button class="uk-button uk-button-secondary" data-cache-clear="general">{{ app.language.get('clear') }}</button>
                    </fieldset>
                </div>
            </div>
            <div>
                <div class="uk-card-panel uk-card-body">
                    <fieldset class="uk-fieldset">
                        <legend class="uk-legend">{{ app.language.get('template') }}</legend>

                        <p>{{ app.language.get('template_info') }}</p>
                        <button class="uk-button uk-button-secondary" data-cache-clear="template">{{ app.language.get('clear') }}</button>
                    </fieldset>
                </div>
            </div>
            <div></div><!-- :p -->
            <div>
                <div class="uk-card-panel uk-card-body">
                    <fieldset class="uk-fieldset">
                        <legend class="uk-legend">{{ app.language.get('image') }}</legend>

                        <p>{{ app.language.get('image_info') }}</p>
                        <button class="uk-button uk-button-secondary" data-cache-clear="image">{{ app.language.get('clear') }}</button>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('[data-cache-clear]').on('click', function(e) {
        e.preventDefault();
        let target = $(this).data('cacheClear');

        $.fn.shift.confirm({
            title     : shift.i18n.are_you_sure,
            message   : '{{ app.language.get("confirm_clear")|raw }}',
            onConfirm : function() {
                $.ajax({
                    url     : '{{ app.router.url("tool/cache/clear")|raw }}',
                    type    : 'POST',
                    data    : {'clear' : target},
                    dataType: 'json',
                    beforeSend: function() {
                        $.fn.shift.goNotify('process', shift.i18n.processing);
                    },
                    success: function(data) {
                        $.fn.shift.goNotify('success', data.message);

                        $.each(data.updates, function(key, value) {
                            $(key).html(value);
                        });
                    }
                });
            }
        });
    });
});
</script>
{% endblock %}
