{% extends 'main.tpl.twig' %}

{% import '_embed/macro/forms.tpl.twig' as forms %}

{% block main_content %}
<div class="uk-container container-content-wrapper">
    <div class="content-header">
        <div class="uk-child-width-expand" uk-grid>
            <div class="uk-width-auto@s"><h1>{{ app.language.get('page_title') }}</h1></div>
            <div class="uk-flex uk-flex-middle uk-flex-right">
                <div class="uk-button-group">
                    <button class="uk-button uk-button-success" data-form-submit='{"form":"#form-layout", "layout_id":"{{ layout_id }}"}'>{{ app.language.get('save') }}</button>
                    <div class="uk-inline">
                        <button class="uk-button uk-button-success ukt-px-2"><span uk-icon="icon:chevron-down"></span></button>
                        <div uk-dropdown="pos:bottom-right">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a data-form-submit='{"form":"#form-layout", "action":"close", "layout_id":"{{ layout_id }}"}'><i class="bi bi-check-circle ukt-mr-1"></i> {{ app.language.get('save_close') }}</a></li>
                                <li><a data-form-submit='{"form":"#form-layout", "action":"new", "layout_id":"{{ layout_id }}"}'><i class="bi bi-file-plus ukt-mr-1"></i> {{ app.language.get('save_new') }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="{{ app.router.url('tool/layout') }}" class="uk-button uk-button-default ukt-px-3 uk-margin-small-left"><i class="bi bi-x-circle-fill uk-text-danger ukt-mr-1"></i> {{ app.language.get(layout_id ? 'close' : 'cancel') }}</a>
            </div>
        </div>
    </div>

    <div class="content-body">
        <form id="form-layout" class="uk-form-margin-hover" action="{{ app.router.url('tool/layout/save') }}" method="post" data-form-monitor>
            <div class="uk-card-panel uk-card-body uk-form-horizontal">
                <fieldset class="uk-fieldset">
                    <legend class="uk-legend">{{ app.language.get('setting') }}</legend>

                    {{ forms.input({'label':'name', 'name':'name', 'value':setting.name, 'class':'uk-width-1-2@m', 'required':true}) }}
                    {{ forms.select({'label':'status', 'name':'status', 'selected':setting.status, 'class':'uk-width-150@m', 'options':[
                        {'text': app.language.get('enabled'),  'value': 1},
                        {'text': app.language.get('disabled'), 'value': 0}
                    ]}) }}

                    <hr>
                    {{ forms.select({'label':'type', 'name':'type', 'selected':setting.type, 'class':'uk-width-200@m', 'attribute':'data-select-switcher=\'{"class":"switch-visibility"}\'', 'options':[
                        {'text': app.language.get('type_all'),  'value': 'all'},
                        {'text': app.language.get('type_route'), 'value': 'route'},
                    ]}) }}
                    <div class="switch-visibility uk-switcher ukt-mt-3">
                        <div class="switch-visibility_all">
                            <p>Show modules to all pages, except the following URL routes.</p>
                        </div>
                        <div class="switch-visibility_route">
                            <p>Show modules to the following URL routes that is not match to the excluded URL route pattern.</p>

                            <table class="uk-table uk-table-striped uk-table-hover">
                                <thead>
                                    <tr>
                                        <th class="uk-width-225 uk-text-center">{{ app.language.get('site') }}</th>
                                        <th class="uk-width-50 uk-text-center">{{ app.language.get('exclude') }}</th>
                                        <th class="uk-width-350 uk-text-center">{{ app.language.get('route') }}</th>
                                        <th class="uk-text-center">{{ app.language.get('url_param') }}</th>
                                        <th class="uk-width-75">{{ app.language.get('priority') }}</th>
                                        <th class="uk-width-50 uk-text-center">{{ app.language.get('action') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for route in setting.routes %}
                                        {% set i = loop.index %}
                                        <tr>
                                            <td>
                                                <select name="routes[{{ i }}][site_id]" class="uk-select uk-form-small uk-width-expand">
                                                    {% for site in sites %}
                                                    <option value="{{ site.site_id }}" {{ site.site_id == route.site_id ? 'selected'}}>{{ site.title}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td class="uk-text-center">
                                                <input type="checkbox" name="routes[{{ i }}][exclude]" value="{{ route.exclude }}" {{ route.exclude ? 'checked' }} class="uk-checkbox ukt-mt-1">
                                            </td>
                                            <td>
                                                <input type="text" name="routes[{{ i }}][route]" value="{{ route.route }}" placeholder="ex. content/*, content/tag" class="uk-input uk-form-small uk-width-expand">
                                            </td>
                                            <td>
                                                <input type="text" name="routes[{{ i }}][url_params]" value="{{ route.url_params }}" placeholder="ex. category_id=1&post_id=2" class="uk-input uk-form-small uk-width-expand">
                                            </td>
                                            <td>
                                                <input type="number" name="routes[{{ i }}][priority]" value="{{ route.priority }}" class="uk-input uk-form-small uk-width-expand">
                                            </td>
                                            <td class="uk-text-center">
                                                <a class="uk-text-danger uk-display-inline-block ukt-mt-1" uk-tooltip title="remove"><i class="bi bi-dash-square-fill"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <p>Except the following URL routes.</p>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="uk-card-panel uk-card-body">
                <h3 class="uk-legend">{{ app.language.get('module_placement') }}</h3>

                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand">
                        <div class="position-wrapper">
                            Alpha
                        </div>
                    </div>
                </div>

                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand">
                        <div class="section-wrapper">
                            Top Bar
                        </div>
                    </div>
                </div>

                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand">
                        <div class="section-wrapper">
                            Header
                        </div>
                    </div>
                </div>
                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand">
                        <div class="section-wrapper">
                            Top
                        </div>
                    </div>
                </div>

                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-1-6">
                        <div class="section-wrapper" style="height:100%">
                            Sidebar Left
                        </div>
                    </div>
                    <div class="uk-width-expand">
                        <div class="section-wrapper">
                            Content Top
                        </div>

                        <div class="uk-grid-small ukt-py-3" uk-grid>
                            <div class="uk-width-1-5">
                                <div class="section-wrapper" style="height:100%">
                                    Content Left
                                </div>
                            </div>
                            <div class="uk-width-expand">
                                <h2>Content</h2>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta eos culpa, alias porro. Adipisci ipsa laborum suscipit cupiditate vero ut inventore consequuntur quos, placeat officia modi non dolore veritatis omnis.</p>
                            </div>
                            <div class="uk-width-1-5">
                                <div class="section-wrapper" style="height:100%">
                                    Content Right
                                </div>
                            </div>
                        </div>


                        <div class="section-wrapper">
                            Content Bottom
                        </div>
                    </div>
                    <div class="uk-width-1-6">
                        <div class="section-wrapper" style="height:100%">
                            Sidebar Right
                        </div>
                    </div>
                </div>

                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand">
                        <div class="section-wrapper">
                            Bottom
                        </div>
                    </div>
                </div>

                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand">
                        <div class="section-wrapper">
                            Footer
                        </div>
                    </div>
                </div>

                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand">
                        <div class="section-wrapper">
                            Omega
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
.section-wrapper {
    padding: 10px;
    background: #f5fdff;
    border: 1px dashed #b6d3db;
}
.block-wrapper {
    padding: 10px;
    background: #dd0;
    border: 1px solid #d00;
}
</style>
{% endblock %}
