{% extends 'main.tpl.twig' %}

{% import '_embed/macro/forms.tpl.twig' as forms %}

{% block main_content %}
<div class="uk-container container-content-wrapper">
    <div class="content-header">
        <div class="uk-flex uk-flex-middle">
            <div class="uk-width-expand">
                <h1 class="ukt-m-0">{{ app.language.get('page_title') }} <span class="uk-sub-title">{{ app.language.get('id') }} #{{ layout_id }}</span></h1>
            </div>
            <div class="uk-width-auto">
                <div class="uk-button-group">
                    <button class="uk-button uk-button-success" data-form-submit='{"form":"#form-layout", "layout_id":"{{ layout_id }}"}'>{{ app.language.get('save') }}</button>
                    <div class="uk-inline">
                        <button class="uk-button uk-button-success ukt-px-2"><span uk-icon="icon:chevron-down"></span></button>
                        <div uk-dropdown="pos:bottom-right">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a data-form-submit='{"form":"#form-layout", "action":"close", "layout_id":"{{ layout_id }}"}'><i class="bi bi-check-circle ukt-mr-1"></i> {{ app.language.get('save_close') }}</a></li>
                                <li><a data-form-submit='{"form":"#form-layout", "action":"new", "layout_id":"{{ layout_id }}"}'><i class="bi bi-file-plus ukt-mr-1"></i> {{ app.language.get('save_new') }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="{{ app.router.url('tool/layout') }}" class="uk-button uk-button-default ukt-px-3 uk-margin-small-left"><i class="bi bi-x-circle-fill uk-text-danger ukt-mr-1"></i> {{ app.language.get(layout_id ? 'close' : 'cancel') }}</a>
            </div>
        </div>
    </div>

    <div class="content-body">
        <form id="form-layout" class="uk-form-margin-hover" action="{{ app.router.url('tool/layout/save') }}" method="post" data-form-monitor>
            <div class="uk-card-panel uk-card-body uk-form-horizontal">
                <fieldset class="uk-fieldset">
                    <legend class="uk-legend">{{ app.language.get('setting') }}</legend>

                    {{ forms.input({'label':'name', 'name':'name', 'value':setting.name, 'class':'uk-width-1-2@m', 'required':true}) }}
                    {{ forms.select({'label':'status', 'name':'status', 'selected':setting.status, 'class':'uk-width-150@m', 'options':[
                        {'text': app.language.get('enabled'),  'value': 1},
                        {'text': app.language.get('disabled'), 'value': 0}
                    ]}) }}

                    <div id="layout-routes" class="uk-margin">
                        <label class="uk-form-label" for="status">{{ app.language.get('routes') }}</label>
                        <div class="uk-form-controls uk-text-right">
                            <button type="button" class="uk-button uk-button-primary uk-button-small ukt-px-3 ukt-mt-2"
                                data-layout-route='{"action":"add", "target":"#layout-routes-table tbody"}'>
                                {{ app.language.get('add_route') }}
                            </button>
                        </div>
                        <div class="ukt-px-2 ukt-pb-2 ukt-mt-3 ukt-mb-3 uk-background-white">
                            <table id="layout-routes-table" class="uk-table uk-table-striped uk-table-hover ukt-mb-2">
                                <thead>
                                    <tr>
                                        <th class="uk-width-225 uk-text-center">{{ app.language.get('site') }}</th>
                                        <th class="uk-width-50 uk-text-center">{{ app.language.get('exclude') }}</th>
                                        <th class="uk-width-350 uk-text-center">{{ app.language.get('route') }}</th>
                                        <th class="uk-text-center">{{ app.language.get('url_param') }}</th>
                                        <th class="uk-width-75">{{ app.language.get('priority') }}</th>
                                        <th class="uk-width-50 uk-text-center">{{ app.language.get('action') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, route in setting.routes %}
                                        {{ _self.layoutRoute(loop.index, sites, route) }}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="uk-card-panel uk-card-body">
                <h3 class="uk-legend">{{ app.language.get('module_placement') }}</h3>
                {# TODO: Select active positions #}

                {{ _self.layoutPosition('alpha', setting.placements.alpha) }}
                {{ _self.layoutPosition('topbar', setting.placements.topbar) }}
                <div class="position-empty">
                    <h1 class="ukt-m-0">HEADER</h1>
                </div>
                {{ _self.layoutPosition('top', setting.placements.top) }}

                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-1-5 wider-on-hover">
                        {{ _self.layoutPosition('sidebar_left', setting.placements.sidebar_left) }}
                    </div>
                    <div class="uk-width-expand">
                        {{ _self.layoutPosition('content_top', setting.placements.content_top) }}

                        <div class="uk-grid-small" uk-grid>
                            <div class="uk-width-1-3 wider-on-hover">
                                {{ _self.layoutPosition('content_left', setting.placements.content_left) }}
                            </div>
                            <div class="uk-width-expand">
                                <h2 class="ukt-mb-2">Title</h2>
                                <p class="ukt-mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta eos culpa, alias porro. Adipisci ipsa laborum suscipit cupiditate vero ut inventore consequuntur quos.</p>
                            </div>
                            <div class="uk-width-1-3 wider-on-hover">
                                {{ _self.layoutPosition('content_right', setting.placements.content_right) }}
                            </div>
                        </div>

                        {{ _self.layoutPosition('content_bottom', setting.placements.content_bottom) }}
                    </div>
                    <div class="uk-width-1-5 wider-on-hover">
                        {{ _self.layoutPosition('sidebar_right', setting.placements.sidebar_right) }}
                    </div>
                </div>

                {{ _self.layoutPosition('bottom', setting.placements.bottom) }}
                {{ _self.layoutPosition('bottombar', setting.placements.bottombar) }}
                {{ _self.layoutPosition('footer', setting.placements.footer) }}
                {{ _self.layoutPosition('omega', setting.placements.omega) }}

                {{ forms.hidden({'type':'textarea', 'name':'placements', 'value':setting.placements|json_encode(), 'class':'js-layout-placements'}) }}
            </div>

            <div class="uk-card-panel uk-card-body uk-form-stacked">
                <fieldset class="uk-fieldset">
                    <legend class="uk-legend">{{ app.language.get('design') }}</legend>

                    {{ forms.textarea({'label':'custom_code', 'name':'custom_code', 'value':setting.custom_code, 'attribute':'data-codemirror=\'{"type":"basic"}\''}) }}
                </fieldset>
            </div>
        </form>
    </div>

<div id="layout-module-wrapper" class="uk-hidden">
    <div id="layout-module-modal" class="layout-select-modules" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-width-750">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title ukt-mb-3 uk-title">{{ app.language.get('module') }} <span class="uk-sub-title">{{ app.language.get('select_module') }}</span></h2>
            <div id="layout-module-content" class="hide-dataTables-top">
                <table id="layout-module-list" class="uk-table uk-table-striped uk-table-hover">
                    <thead>
                        <tr>
                            <th class="uk-text-center" style="width:50px">{{ app.language.get('id') }}</th>
                            <th class="uk-text-center" style="width:150px">{{ app.language.get('codename') }}</th>
                            <th class="uk-text-center">{{ app.language.get('module') }}</th>
                        </tr>
                        <tr class="dt-filters">
                            <td>{{ app.language.get('id') }}</td>
                            <td>{{ app.language.get('codename') }}</td>
                            <td>{{ app.language.get('module') }}</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for module in modules %}
                        <tr>
                            <td class="uk-text-center">{{ module.extension_module_id}}</td>
                            <td><code>{{ module.codename }}{{ module.type ? '::' ~ module.type }}</code></td>
                            <td>
                                <a class="js-select-module" data-module-info='{"module_id":{{ module.extension_module_id }},"codename":"{{ module.codename }}","name": "{{ module.name }}"}'>
                                    {{ module.name }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<template id="template-layout-routes" hidden>{{ _self.layoutRoute('{-i-}', sites, []) }}</template>
<template id="template-row" hidden>{{ _self.layoutRows({'{-node-}': {}}) }}</template>
<template id="template-column" hidden>{{ _self.layoutColumns({'{-node-}': {}}) }}</template>
<template id="template-module" hidden>{{ _self.layoutModules({'{-node-}': {}}) }}</template>
</div>
{% endblock %}

{% macro layoutRoute(i, sites, data) %}
{% set data = {
    'site_id'   : 0,
    'route'     : '',
    'url_params': '',
    'exclude'   : 0,
    'priority'  : 0,
}|replace_recursive(data) %}
<tr>
    <td>
        <select name="routes[{{ i }}][site_id]" class="uk-select uk-form-small">
            {% for site in sites %}
            <option value="{{ site.site_id }}" {{ site.site_id == data.site_id ? 'selected'}}>{{ site.title}}</option>
            {% endfor %}
        </select>
    </td>
    <td class="uk-text-center">
        <input type="checkbox" name="routes[{{ i }}][exclude]" value="1" {{ data.exclude ? 'checked' }} class="uk-checkbox ukt-mt-1">
    </td>
    <td>
        <input type="text" name="routes[{{ i }}][route]" value="{{ data.route }}" placeholder="ex. content/*, content/category" class="uk-input uk-form-small">
    </td>
    <td>
        <input type="text" name="routes[{{ i }}][url_params]" value="{{ data.url_params }}" placeholder="ex. category_id=1&post_id=2" class="uk-input uk-form-small">
    </td>
    <td>
        <input type="number" name="routes[{{ i }}][priority]" value="{{ data.priority }}" class="uk-input uk-form-small">
    </td>
    <td class="uk-text-center">
        <a class="uk-text-danger uk-display-inline-block ukt-mt-1" uk-tooltip title="{{ app.language.get('delete') }}" data-layout-route='{"action":"delete"}'><i class="bi bi-dash-square-fill"></i></a>
    </td>
</tr>
{% endmacro %}

{% macro layoutPosition(position, data) %}
{% set data = {
    'setting': {
        'node_child': 'row',
    },
    'rows': {},
}|replace_recursive(data) %}
<div class="position-wrapper position-node-{{ position }}" data-layout-position="{{ position }}" data-layout-setting='{{ data.setting|json_encode()|raw }}'>
    <div class="position-header uk-flex uk-flex-middle" uk-sticky="end:.js-node-{{ position }}-rows">
        <div class="uk-width-expand ukt-lh-1">{{ app.language.get(position) }}</div>
        <div class="uk-width-auto ukt-lh-1">
            {% if data.setting.node_child == 'module' %}
                <button type="button" class="uk-button uk-button-primary uk-button-mini button-layout"
                    data-layout-add='{"type":"module", "target":".js-node-{{ position }}-rows"}'
                    uk-tooltip title="{{ app.language.get('add_module') }}">
                    <i class="bi bi-plus"></i>
                </button>
            {% else %}
                <button type="button" class="uk-button uk-button-primary uk-background-teal uk-button-mini button-layout"
                    data-layout-add='{"type":"row", "target":".js-node-{{ position }}-rows"}'
                    uk-tooltip title="{{ app.language.get('add_row') }}">
                    <i class="bi bi-plus-circle"></i>
                </button>
            {% endif %}
        </div>
    </div>
    {% if data.setting.node_child == 'module' %}
        <div class="position-rows js-node-{{ position }}-rows" data-layout-sortable='{"group":"modules"}'>
            {{ _self.layoutModules(data.rows) }}
        </div>
    {% else %}
        <div class="position-rows js-node-{{ position }}-rows" data-layout-sortable='{"group":"row"}'>
            {{ _self.layoutRows(data.rows) }}
        </div>
    {% endif %}
</div>
{% endmacro %}

{% macro layoutRows(data) %}
{% for node, row in data %}
{% set row = {
    'setting': {},
    'columns': {},
}|replace_recursive(row) %}
<div class="row-wrapper" data-layout-row="{{ node }}" data-layout-setting='{{ row.setting|json_encode()|raw }}'>
    <div class="row-header">
        <div class="uk-flex uk-flex-middle">
            <div class="uk-width-expand">
                <div class="layout-handle uk-display-inline-block"><i class="bi bi-grip-vertical"></i></div>
                <div class="uk-display-inline-block">{{ app.language.get('row') }}</div>
            </div>
            <div class="uk-width-auto ukt-lh-1 ukt-pr-2">
                <button type="button" class="uk-button uk-button-primary uk-background-purple uk-button-mini button-layout ukt-mr-2"
                    data-layout-add='{"type":"column", "target":".js-node-{{ node }}"}'
                    uk-tooltip title="{{ app.language.get('add_column') }}">
                    <i class="bi bi-plus-square"></i>
                </button>
                {# TODO: layout row settings #}
                <button type="button" class="uk-button uk-button-default uk-button-mini button-layout"
                    uk-tooltip title="{{ app.language.get('setting_row') }}">
                    <i class="bi bi-gear-fill"></i>
                </button>
                <button type="button" class="uk-button uk-button-default uk-button-mini button-layout"
                    data-layout-delete='{"type":"row"}'
                    uk-tooltip title="{{ app.language.get('delete_row') }}">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row-columns uk-grid-small uk-child-width-1-2 js-node-{{ node }}" uk-grid data-layout-sortable='{"group":"columns"}'>
        {{ _self.layoutColumns(row.columns) }}
    </div>
</div>
{% endfor %}
{% endmacro %}

{% macro layoutColumns(data) %}
{% for node, column in data %}
{% set column = {
    'setting': {
        'width': 'uk-width-1-2',
    },
    'modules': {},
}|replace_recursive(column) %}
<div class="column-wrapper {{ column.setting.width }}" data-layout-column="{{ node }}" data-layout-setting='{{ column.setting|json_encode()|raw }}'>
    <div class="column-container">
        <div class="column-header uk-flex uk-flex-middle">
            <div class="uk-width-expand">
                <div class="layout-handle uk-display-inline-block"><i class="bi bi-grip-vertical"></i></div>
                <div class="uk-display-inline-block">{{ column.setting.width }}</div>
            </div>
            <div class="uk-width-auto ukt-lh-1 ukt-pr-2">
                <button type="button" class="uk-button uk-button-primary uk-button-mini button-layout ukt-mr-2"
                    data-layout-add='{"type":"module", "target":".js-node-{{ node }}"}'
                    uk-tooltip title="{{ app.language.get('add_module') }}">
                    <i class="bi bi-plus"></i>
                </button>
                <button type="button" class="uk-button uk-button-default uk-button-mini button-layout"
                    uk-tooltip title="{{ app.language.get('setting_column') }}">
                    {# TODO: layout column settings #}
                    <i class="bi bi-gear-fill"></i>
                </button>
                <button type="button" class="uk-button uk-button-default uk-button-mini button-layout"
                    data-layout-delete='{"type":"column"}'
                    uk-tooltip title="{{ app.language.get('delete_column') }}">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </div>
        <div class="column-modules js-node-{{ node }}" data-layout-sortable='{"group":"modules"}'>
            {{ _self.layoutModules(column.modules) }}
        </div>
    </div>
</div>
{% endfor %}
{% endmacro %}

{% macro layoutModules(data) %}
{% for node, setting in data %}
{% set setting = {
    'module_id': 0,
    'codename': '',
    'name': '',
}|replace_recursive(setting) %}
<div class="module-wrapper uk-flex" data-layout-module="{{ node }}" data-layout-setting='{{ setting|json_encode()|raw }}'>
    <div class="uk-width-expand uk-flex">
        <div class="layout-handle uk-display-inline-block"><i class="bi bi-grip-vertical"></i></div>
        <div class="module-data js-module-trove uk-display-inline-block uk-width-1-1">
            {% if setting.codename %}
                <code>{{ setting.codename }}</code> {{ setting.name }}
            {% else %}
                <div class="uk-text-meta uk-text-italic">{{ app.language.get('select_module') }}</div>
            {% endif %}
        </div>
    </div>
    <div class="uk-width-auto ukt-lh-1">
        {# TODO: layout column edit icon - open new tab #}
        <button type="button" class="uk-button uk-button-default uk-button-mini button-layout"
            data-layout-delete='{"type":"module"}'
            uk-tooltip title="{{ app.language.get('delete_module') }}">
            <i class="bi bi-trash"></i>
        </button>
    </div>
</div>
{% endfor %}
{% endmacro %}
