{% extends 'main.tpl.twig' %}

{% import '_embed/macro/forms.tpl.twig' as forms %}

{% block main_content %}
<div class="uk-container container-content-wrapper">
    <div class="content-header">
        <div class="uk-flex uk-flex-middle">
            <div class="uk-width-expand">
                <h1 class="ukt-m-0">{{ app.language.get('page_title') }}</h1>
            </div>
            <div class="uk-width-auto">
                <div class="uk-button-group">
                    <button class="uk-button uk-button-success" data-form-submit='{"form":"#form-layout", "layout_id":"{{ layout_id }}"}'>{{ app.language.get('save') }}</button>
                    <div class="uk-inline">
                        <button class="uk-button uk-button-success ukt-px-2"><span uk-icon="icon:chevron-down"></span></button>
                        <div uk-dropdown="pos:bottom-right">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a data-form-submit='{"form":"#form-layout", "action":"close", "layout_id":"{{ layout_id }}"}'><i class="bi bi-check-circle ukt-mr-1"></i> {{ app.language.get('save_close') }}</a></li>
                                <li><a data-form-submit='{"form":"#form-layout", "action":"new", "layout_id":"{{ layout_id }}"}'><i class="bi bi-file-plus ukt-mr-1"></i> {{ app.language.get('save_new') }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="{{ app.router.url('tool/layout') }}" class="uk-button uk-button-default ukt-px-3 uk-margin-small-left"><i class="bi bi-x-circle-fill uk-text-danger ukt-mr-1"></i> {{ app.language.get(layout_id ? 'close' : 'cancel') }}</a>
            </div>
        </div>
    </div>

    <div class="content-body">
        <form id="form-layout" class="uk-form-margin-hover" action="{{ app.router.url('tool/layout/save') }}" method="post" data-form-monitor>
            <div class="uk-card-panel uk-card-body uk-form-horizontal">
                <fieldset class="uk-fieldset">
                    <legend class="uk-legend">{{ app.language.get('setting') }}</legend>

                    {{ forms.input({'label':'name', 'name':'name', 'value':setting.name, 'class':'uk-width-1-2@m', 'required':true}) }}
                    {{ forms.select({'label':'status', 'name':'status', 'selected':setting.status, 'class':'uk-width-150@m', 'options':[
                        {'text': app.language.get('enabled'),  'value': 1},
                        {'text': app.language.get('disabled'), 'value': 0}
                    ]}) }}

                    <table class="uk-table uk-table-striped uk-table-hover">
                        <thead>
                            <tr>
                                <th class="uk-width-225 uk-text-center">{{ app.language.get('site') }}</th>
                                <th class="uk-width-50 uk-text-center">{{ app.language.get('exclude') }}</th>
                                <th class="uk-width-350 uk-text-center">{{ app.language.get('route') }}</th>
                                <th class="uk-text-center">{{ app.language.get('url_param') }}</th>
                                <th class="uk-width-75">{{ app.language.get('priority') }}</th>
                                <th class="uk-width-50 uk-text-center">{{ app.language.get('action') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for route in setting.routes %}
                                {% set i = loop.index %}
                                <tr>
                                    <td>
                                        <select name="routes[{{ i }}][site_id]" class="uk-select uk-form-small">
                                            {% for site in sites %}
                                            <option value="{{ site.site_id }}" {{ site.site_id == route.site_id ? 'selected'}}>{{ site.title}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td class="uk-text-center">
                                        <input type="checkbox" name="routes[{{ i }}][exclude]" value="{{ route.exclude }}" {{ route.exclude ? 'checked' }} class="uk-checkbox ukt-mt-1">
                                    </td>
                                    <td>
                                        <input type="text" name="routes[{{ i }}][route]" value="{{ route.route }}" placeholder="ex. content/*, content/tag" class="uk-input uk-form-small">
                                    </td>
                                    <td>
                                        <input type="text" name="routes[{{ i }}][url_params]" value="{{ route.url_params }}" placeholder="ex. category_id=1&post_id=2" class="uk-input uk-form-small">
                                    </td>
                                    <td>
                                        <input type="number" name="routes[{{ i }}][priority]" value="{{ route.priority }}" class="uk-input uk-form-small">
                                    </td>
                                    <td class="uk-text-center">
                                        <a class="uk-text-danger uk-display-inline-block ukt-mt-1" uk-tooltip title="remove"><i class="bi bi-dash-square-fill"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>

            <div class="uk-card-panel uk-card-body">
                <h3 class="uk-legend">{{ app.language.get('module_placement') }}</h3>

                <div class="position-wrapper">
                    Alpha
                </div>

                <div class="position-wrapper">
                    Top Bar
                </div>

                <div class="position-wrapper" data-layout-position="header">
                    <div class="position-header uk-flex uk-flex-middle" uk-sticky="end:.js-node-header-rows">
                        <div class="uk-width-expand">{{ app.language.get('header') }}</div>
                        <div class="uk-width-auto">
                            <button type="button" class="uk-button uk-button-primary uk-button-mini"
                                data-layout-add='{"type":"row", "target":".js-node-header-rows"}'>
                                {{ app.language.get('add_row') }}
                            </button>
                            <button type="button" class="uk-button uk-button-danger uk-button-mini">{{ app.language.get('delete_row') }}</button>
                        </div>
                    </div>
                    <div class="position-rows js-node-header-rows" data-layout-node='{"group":"rows"}'></div>
                </div>

                <div class="position-wrapper" data-layout-position="top">
                    <div class="position-header uk-flex uk-flex-middle">
                        <div>{{ app.language.get('top') }}</div>
                    </div>
                    <div class="position-rows" data-layout-node='{"group":"rows"}'>...</div>
                </div>

                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-1-5">
                        <div class="position-wrapper" style="height:100%">
                            Sidebar Left
                        </div>
                    </div>
                    <div class="uk-width-expand">
                        <div class="position-wrapper">
                            Content Top
                        </div>

                        <div class="uk-grid-small ukt-py-3" uk-grid>
                            <div class="uk-width-1-3">
                                <div class="position-wrapper" style="height:100%">
                                    Content Left
                                </div>
                            </div>
                            <div class="uk-width-expand">
                                <h2>Content</h2>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta eos culpa, alias porro. Adipisci ipsa laborum suscipit cupiditate vero ut inventore consequuntur quos.</p>
                            </div>
                            <div class="uk-width-1-3">
                                <div class="position-wrapper" style="height:100%">
                                    Content Right
                                </div>
                            </div>
                        </div>


                        <div class="position-wrapper">
                            Content Bottom
                        </div>
                    </div>
                    <div class="uk-width-1-5">
                        <div class="position-wrapper" style="height:100%">
                            Sidebar Right
                        </div>
                    </div>
                </div>

                <div class="position-wrapper">
                    Bottom
                </div>

                <div class="position-wrapper">
                    Footer
                </div>

                <div class="position-wrapper">
                    Omega
                </div>
            </div>

            <div class="uk-card-panel uk-card-body uk-form-stacked">
                <fieldset class="uk-fieldset">
                    <legend class="uk-legend">{{ app.language.get('design') }}</legend>

                    {{ forms.textarea({'label':'custom_code', 'name':'custom_code', 'value':setting.custom_code, 'attribute':'data-codemirror=\'{"type":"basic"}\''}) }}
                </fieldset>
            </div>
        </form>
    </div>

<template id="template-row">
<div class="row-wrapper">
    <div class="row-header">
        <div class="uk-flex uk-flex-middle">
            <div class="uk-width-expand">
                <div class="layout-handle uk-display-inline-block"><i class="bi bi-grip-vertical"></i></div>
                <div class="uk-display-inline-block">{{ app.language.get('row') }}</div>
            </div>
            <div class="uk-width-auto ukt-pr-2">
                <button type="button" class="uk-button uk-button-primary uk-button-mini"
                    data-layout-add='{"type":"column", "target":".{-node-target-}"}'>
                    {{ app.language.get('add_column') }}
                </button>
            </div>
        </div>
    </div>
    <div class="row-columns uk-grid-small {-node-target-}" uk-grid data-layout-node='{"group":"columns"}'></div>
</div>
</template>
<template id="template-column">
<div class="uk-width-expand column-wrapper">
    <div class="column-container">
        <div class="column-header uk-flex uk-flex-middle">
            <div class="uk-width-expand">
                <div class="layout-handle uk-display-inline-block"><i class="bi bi-grip-vertical"></i></div>
                <div class="uk-display-inline-block">{{ app.language.get('width') }}: expand</div>
            </div>
            <div class="uk-width-auto ukt-pr-2">
                <button type="button" class="uk-button uk-button-primary uk-button-mini"
                    data-layout-add='{"type":"module", "target":".{-node-target-}"}'>
                    {{ app.language.get('add_module') }}
                </button>
            </div>
        </div>
        <div class="column-modules {-node-target-}" data-layout-node='{"group":"modules"}'></div>
    </div>
</div>
</template>
<template id="template-module">
<div class="module-wrapper uk-flex uk-flex-middle">
    <div class="layout-handle"><i class="bi bi-grip-vertical"></i></div>
    <div class="module-data">
        {{ app.language.get('select_module') }}
    </div>
</div>
</template>
</div>
{% endblock %}
