{% extends 'main.tpl.twig' %}

{% block main_content %}
<div class="uk-container container-content-wrapper">
    <div class="content-header">
        <div class="uk-flex uk-flex-middle">
            <div class="uk-width-expand">
                <h1 class="ukt-m-0">{{ app.language.get('page_title') }}</h1>
            </div>
            <div class="uk-width-auto">
                <div class="uk-inline">
                    <button class="uk-button uk-button-default ukt-px-2 ukt-pl-3" type="button">
                        {{ fileinfo.file }} <div class="uk-label uk-label-{{ fileinfo.label }} uk-label-small uk-margin-small-left">{{ fileinfo.size }}</div>
                        <span class="dropdown-caret"></span>
                    </button>
                    <div class="uk-width-{{ partition.width }}" style="max-width:none" uk-dropdown="pos:bottom-right;">
                        <div class="uk-dropdown-grid uk-grid-small uk-child-width-1-{{ partition.column }}@m" uk-grid>
                            {% for column in partition.files %}
                                <div>
                                    <ul class="uk-nav uk-dropdown-nav">
                                        {% for item in column %}
                                            <li><a href="{{ item.url_view }}"><div class="uk-label uk-label-{{ item.label }} uk-label-small uk-label-fixed-width ukt-mr-1"> {{ item.size }}</div> {{ item.file}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <button type="submit" class="uk-button uk-button-default ukt-px-3 ukt-ml-1" data-log-clear><i class="bi bi-eraser-fill ukt-mr-1"></i> {{ app.language.get('clear') }}</button>
                <button type="submit" class="uk-button uk-button-danger ukt-px-3 uk-margin-small-left" data-log-delete><i class="bi bi-trash ukt-mr-1"></i> {{ app.language.get('delete') }}</button>
                <button type="submit" class="uk-button uk-button-secondary ukt-px-3 ukt-ml-1" form="form-log"><i class="bi bi-download ukt-mr-1"></i> {{ app.language.get('download') }}</button>
            </div>
        </div>
    </div>

    {% include '_embed/partial/alerts.tpl.twig' %}

    <div class="content-body uk-card-panel uk-card-body">
        {% if fileinfo.state == 2 %}
            <div class="uk-alert-{{ type }} uk-alert-small" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ log }}</p>
            </div>
        {% else %}
            <pre class="uk-resize-vertical uk-margin-remove logs-content"><code>{{ log }}</code></pre>
        {% endif %}

        <div class="uk-hidden">
            <form id="form-log" action="{{ app.router.url('tool/log/action', 'submit=download') }}" method="post">
                <input type="text" name="file" value="{{ fileinfo.file }}">
            </form>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('[data-log-clear]').on('click', function(e) {
        e.preventDefault();
        $.fn.shift.confirm({
            title     : shift.i18n.are_you_sure,
            message   : '{{ app.language.get("confirm_clear")|raw }}',
            onConfirm : function() {
                $('#form-log').attr('action', "{{ app.router.url('tool/log/action', 'submit=clear')|raw }}").submit();
            }
        });
    });

    $('[data-log-delete]').on('click', function(e) {
        e.preventDefault();
        $.fn.shift.confirm({
            title     : shift.i18n.are_you_sure,
            message   : '{{ app.language.get("confirm_delete")|raw }}',
            onConfirm : function() {
                $('#form-log').attr('action', "{{ app.router.url('tool/log/action', 'submit=delete')|raw }}").submit();
            }
        });
    });

    //=== Pretify log messages
    if ($('.logs-content').length) {
        let logs = $('.logs-content code').html().split('\n# ');

        $('.logs-content').hide();
        $('.content-body').append('<pre class="uk-resize-vertical uk-margin-remove logs-content-pretify"><code></code></pre>');

        $.each(logs.reverse(), function(i, log) {
            let _logInfo  = log.split('|');

            if (_logInfo[1] != undefined) {
                let _logError = _logInfo.slice(2),
                    _logDate  = _logInfo[0].trim(),
                    _logType  = _logInfo[1].trim(),
                    html  = '',
                    label = 'danger';

                if (_logType == 'Debug') {
                    label = ' uk-background-blue-light';
                } else if (_logType == 'Warning' || _logType == 'Notice') {
                    label = 'warning';
                } else if (_logType.indexOf('Exception') !== -1) {
                    label = ' uk-background-teal';
                }

                html += '<div class="logs-content-item">';
                html += '<b title="' + _logDate + '">' + formatDate(_logDate) + '</b>';
                html += ' - <span class="uk-label uk-label-' + label + '">' + _logType + '</span>';
                $.each(_logError, function(i, message) {
                    if (message) {
                        html += '<div class="ukt-ml-4">' + message.trim() + '</div>';
                    }
                });
                html += '</div>';

                $('.logs-content-pretify code').append(html);
            }
        });
    }
});
</script>
{% endblock %}
